#bottom-content-wrapper {
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(247, 247, 247, 0.95);
  border-top: 2px solid #dedede;
  height:210px;
  display:flex;
  z-index: 9999;
  justify-content: space-between;

  .bottom-title {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    padding: 9px 15px;
    color: #828282;
    background-color: rgba(229, 229, 229, 0.24);
    border-bottom: 1px solid #e7e7e7;
    position: relative;

    &.color {
      color:#fff;
      background-color:$accent-color;
      border-color:$accent-color;
    }
  }
}

#bottom-content {
  display:flex;
  justify-content:flex-end;
  flex-grow:1;
}

#main-footer {
  background-color: #d4d4d4;
  position: relative;
  padding: 12px;
  font-size: 12px;
  height:40px;
  width:100%;
  flex-shrink:0;
  align-self:flex-end;
}