#generator-wrapper {
  #box-shadow-preview {
    width: 300px;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius:5px;
    left:50%;
    margin-left:-150px;

    .preview-text {
      display:inline-block;
      background:rgba(255, 255, 255, .9);
      font-size:12px;
      text-align:center;
      padding:10px 13px 9px 13px;
      border-radius:2px;
      color:#7d7d7d;
      font-weight:600;
      width:180px;

      .dimensions {
        display:block;
        margin:3px 0 8px 0;
        font-size:15px;
      }

      .instructions {
        font-size: 11px;
        color: #a2a2a2;
        font-weight: 500;
      }
    }
  }
}


