#generator-output {
  display:flex;
  flex-grow:0;
  align-items: flex-end;
  padding: 11px 11px 12px 11px;
  background-color: #ececec;
  border-left: 2px solid #dedede;
  // z-index: 200;
  width:360px;

  &.multiple {
    width:560px;
  }
}

.output-wrapper {
  height:100%;
  display:flex;
  flex-direction:column;
  margin-right:10px;
  box-shadow: 0px 6px 20px 0px rgba(184, 185, 218, 0.52);
  border-radius: 0px 0px 3px 3px;
  flex-grow:1;
  max-width:100%;

  &:last-child {
    margin-right:0;
  }

  .bottom-title {
    border-radius: 3px 3px 0px 0px;
    padding:4px 6px 5px 15px !important;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    min-height:36px;
    border:none !important;
    background: $accent-color;
    background: linear-gradient(to right, lighten($accent-color, 8%) 0%, $accent-color 100%);

    &:after {
      font-size:11px;
      border-radius: 2px;
      line-height: 22px;
      padding: 0px 11px;
    }
  }

  &.css .bottom-title:after {
    content:"CSS";
    background-color:#1ca8e0;
  }

  &.html .bottom-title:after {
    content: "HTML";
    padding-right:10px;
    background-color:#e34c26;
  }

  span {
    flex-grow:1;
  }

  .expand-toggle {
    width:20px;
    height:20px;
    display:inline-block;
    background-color:red;
    order:3;
    margin-left:6px;
    cursor: pointer;
  }

  .bottom {
    padding:8px;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    background-color:#fdfdfd;
    flex-shrink:0;
    border-radius: 0px 0px 3px 3px;

    .field-wrapper {
      margin:0;
      padding-left:2px;
      flex-grow:1;

      .title {
        max-width:80px;
        margin-top:0;
        font-size:12px;
      }
    }

    .button {
      flex-grow:0;
      padding:8px 20px 9px 20px;
    }
  }
}

.expanded-code-wrapper {
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index: 99999;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:rgba(#fff, .95);
  padding:30px;

  .output-wrapper {
    width:100%;
    max-height:580px;
    max-width:600px;
  }

  .hljs {
    font-size:14px;
  }
}

.react-syntax-highlighter-line-number {
  @include no-select;
  pointer-events:none;
}

body.no-select {
  #header-wrapper,
  #sidebar-controls,
  .resize-wrapper,
  #nav-window
  #bottom-content {
    @include no-select;

    * {
      @include no-select;
      pointer-events:none;
    }
  }

  .language-wrapper {
    .selecting-code,
    &:focus {
      .hljs {
        @include allow-select;
      }

      code {
        @include no-select;

        &.output-code,
        &.output-code * {
          @include allow-select;
        }
      }
    }
  }
}

.hide-selector .react-syntax-highlighter-line-number {
  &:last-child,
  &:nth-last-child(2) {
    display:none;
  }
}


/* ------------------------- */
/* Code Theme */

.language-wrapper {
  outline:none;
  position:relative;
  background-color:#fff;
  border-bottom:1px solid #efefef;
  flex-grow:1;
  display:flex;
  
  &:after {
    content:"";
    position:absolute;
    pointer-events: none;
    top:0;
    left:0;
    right:0;
    bottom:-1px;
    box-shadow: inset 0px -35px 20px -30px rgba(16, 13, 33, 0.07);
  }

  &:focus {
    box-shadow: inset -25px 0px 95px -20px rgba(181, 173, 240, 0.55);

    &:before {
      content:"";
      display:block;
      position:absolute;
      top:0;
      left:0;
      bottom:2px;
      right:0;
      border-radius:1px;
      border:1px solid $accent-color !important;
      box-shadow: 0px 0px 0px 3px #b5adf0 !important;
      pointer-events:none;
    }
  }

  &.disabled {
    opacity:1 !important;
    background-color:#fbfbfb;
    box-shadow: inset 25px 0px 95px -20px rgba($accent-color, .02);
    
    &:before {
      display:none;
    }

    &:after {
      content:"Use the controls to generate code";
      font-size:14px;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      display:flex;
      justify-content: center;
      align-items:center;
      z-index: 200;
      color:#a5a5a5;
      font-weight: 600;
    }

    pre {
      visibility: hidden;
    }
  }
}

.hljs {
  font-size:12px;
  display:block;
  color:#383838;
  overflow-x: auto;
  cursor:text;
  line-height:1.3em;
  min-width:100%;

  code {
    padding-top:6px !important;
    padding-bottom:6px !important;

    &:first-child {
      min-height:100%;
      padding-right: 8px !important;
      padding-left:8px !important;
      background-color:#f9f9f9;
      color: #8f8f8f;
      font-weight: 600;
      margin-right: 10px !important;
      border-right: 1px solid #efeaea;
    }

    &:last-child {
      display:inline-block;
      padding-right:7px !important;
    }
  }
}

.hljs-comment {
  color:#969896;
}

.hljs-meta {
  color:#969896;
}

.hljs-string {
  color:#df5000;
}

.hljs-variable {
  color:#df5000;
}

.hljs-template-variable {
  color:#df5000;
}

.hljs-strong {
  color:#df5000;
}

.hljs-emphasis {
  color:#df5000;
}

.hljs-quote {
  color:#df5000;
}

.hljs-keyword {
  color:#a71d5d;
}

.hljs-selector-tag {
  color:#a71d5d;
}

.hljs-type {
  color:#a71d5d;
}

.hljs-literal {
  color:#0086b3;
}

.hljs-symbol {
  color:#0086b3;
}

.hljs-bullet {
  color:#0086b3;
}

.hljs-attribute {
  color:#0086b3;
}

.hljs-section {
  color:#63a35c;
}

.hljs-name {
  color:#63a35c;
}

.hljs-tag {
  color:#333333;
}

.hljs-title {
  color:#795da3;
}

.hljs-attr {
  color:#795da3;
}

.hljs-selector-id {
  color:#795da3;
}

.hljs-selector-class {
  color:#795da3;
}

.hljs-selector-attr {
  color:#795da3;
}

.hljs-selector-pseudo {
  color:#795da3;
}

.hljs-addition {
  color:#55a532;
  background-color:#eaffea;
}

.hljs-deletion {
  color:#bd2c00;
  background-color:#ffecec;
}

.hljs-link {
  text-decoration:underline;
}



