#generator-output {
  background-color:#f5f5f5;
  border-right: 1px solid #e6e6e6;

  &.multiple {
    .output-wrapper {
      margin-top:25px;
      flex-basis:230px;

      &:first-child {
        margin-top:0;
      }
    }
  }
}

#output-content {
  display:flex;
  flex-direction:column;
  padding: 25px;
}

.output-wrapper {
  flex-basis:240px;
  display:flex;
  flex-direction:column;
  box-shadow: 0 15px 45px 0 rgba(37, 32, 74, 0.15);
  border-radius: 0px 0px 3px 3px;
  position: relative;
  border-radius:3px;
  position:relative;
  min-height:0;
  flex-shrink:1;

  &:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:10px;
    border-radius: 3px 3px 0 0;
    z-index: 1;
    @include gradient;
  }

  > * {
    position:relative;
    z-index: 2;
  }

  .output-title {
    border-radius: 3px 3px 0px 0px;
    padding:4px 7px 5px 8px !important;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    min-height:40px;
    border:none !important;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color:#fff;

    &:before {
      font-size:12px;
      border-radius: 2px;
      line-height: 22px;
      padding: 0px 8px;
      margin-right:10px;
      font-weight:700;
    }
  }

  &.css .output-title:before {
    content:"CSS";
    background-color:#1ca8e0;
  }

  &.html .output-title:before {
    content: "HTML";
    background-color:#e34c26;
  }

  span {
    flex-grow:1;
  }

  .expand-toggle {
    width:20px;
    height:20px;
    background-color:#fff;
    opacity:.2;
    text-align: center;
    margin-left:7px;
    cursor: pointer;
  }

  .bottom {
    padding:9px;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    background-color:#fdfdfd;
    flex-shrink:0;
    border-radius: 0 0 3px 3px;

    .field-wrapper {
      margin:0;
      padding-left:2px;
      flex-grow:1;

      .title {
        max-width:80px;
        margin-top:0;
        font-size:12px;
      }
    }

    .button {
      flex-grow:0;
      padding:8px 20px 9px 20px;
    }
  }
}

.expanded-code-wrapper {
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index: 99999;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:30px;

  .output-wrapper {
    width:100%;
    max-height:580px;
    max-width:600px;
  }

  .hljs {
    font-size:14px;
  }
}

.react-syntax-highlighter-line-number {
  @include no-select;
  pointer-events:none;
}

body {
  &.no-select {
    #header-wrapper,
    #sidebar-controls,
    .resize-wrapper,
    #nav-window
    #bottom-content {
      @include no-select;

      * {
        @include no-select;
        pointer-events:none;
      }
    }

    .language-wrapper {
      .selecting-code,
      &:focus {
        .hljs {
          @include allow-select;
        }

        code {
          @include no-select;

          &.output-code,
          &.output-code * {
            @include allow-select;
          }
        }
      }
    }
  }

  &.code-expanded {
    @mixin blur {
      filter: blur(30px);
    }

    #nav-window,
    #sidebar,
    #header-wrapper,
    #static-preview,
    .generator-preview,
    #bottom-content,
    .output-wrapper {
      // @include blur;
    }

    .expanded-code-wrapper {
      .output-wrapper {
        filter:none;
      }
    }
  }
}

.hide-selector .react-syntax-highlighter-line-number {
  &:last-child,
  &:nth-last-child(2) {
    display:none;
  }
}


/* ------------------------- */
/* Code Theme */

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.language-wrapper {
  outline:none;
  position:relative;
  background: rgba(23, 11, 15, 0.5);
  background: linear-gradient(130deg, rgba(77, 34, 78, 0.46) 0%, rgba(29, 13, 74, 0.79) 100%);
  flex-grow:1;
  min-height:0;
  display:flex;
  z-index: 300;

  &:focus {
    &:before {
      content:"";
      display:block;
      position:absolute;
      top:0;
      left:0;
      bottom:2px;
      right:0;
      border-radius:1px;
      border:1px solid $accent-color !important;
      box-shadow: 0px 0px 0px 4px #b5adf0 !important;
      pointer-events:none;
      z-index: 600;
    }

    &:after {
      content:"";
      position:absolute;
      pointer-events: none;
      top:0;
      left:0;
      right:0;
      bottom:-1px;
      background-color:rgba(#000, .13);
    }

    .hljs {
      box-shadow:inset 0 59px 63px -36px rgba(33, 27, 78, 0.65);
    }
  }

  &.disabled {
    opacity:1 !important;
    background-color:rgba(255, 255, 255, 0.31);
    box-shadow: inset -3px 8px 95px -30px rgba(20, 16, 43, 0.82);
    
    &:before {
      display:none;
    }

    &:after {
      content:"Use the controls to generate code";
      font-size:14px;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      display:flex;
      justify-content: center;
      align-items:center;
      z-index: 200;
      color:#fff;
      font-weight: 600;
    }

    pre {
      visibility: hidden;
    }
  }
}

.hljs {
  font-size:14px;
  display:block;
  color:#CDD3D8;
  overflow-x: auto;
  cursor:text;
  line-height:1.3em;
  min-width:100%;
  z-index:500;
  box-shadow:inset 0 59px 63px -36px rgba(33, 27, 78, 0.29);

  code {
    padding-top:8px !important;
    padding-bottom:8px !important;
    font-family: 'Inconsolata', monospace;
    font-weight:400;

    &:first-child {
      min-height:100%;
      padding-right: 9px !important;
      padding-left:10px !important;
      background-color: rgba(17, 11, 60, 0.54);
      color: #9993ca;
      font-weight: 600;
      margin-right: 12px !important;
    }

    &:last-child {
      display:inline-block;
      padding-right:8px !important;
    }
  }
}

.hljs-comment {
  color: #656565;
  font-style: italic;
}

.hljs-selector-tag {
  color: #C792EA;
}

.hljs-string,
.hljs-subst {
  color:#c6ff73;
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #F77669;
}

.hljs-keyword {
  color: #C792EA;
}
.hljs-function > .hljs-title {
  color: #75A5FF;
}
.hljs-tag {
  color: #f2f7ff;
}
.hljs-name {
  color: #ff7e88;
}
.hljs-type {
  color: #da4939;
}

.hljs-attribute {
  color: #90e4d7;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: #C792EA;
}

.hljs-params {
  color: #EEFFF7;
}


.hljs-meta {
  color: #75A5FF;
}

.hljs-title {
  color: #75A5FF;
}

.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #ffc14c;
}

.hljs-selector-id {
  color: #F77669;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

// Old Colors

// .hljs-comment {
//   color:#969896;
// }

// .hljs-meta {
//   color:#969896;
// }

// .hljs-string {
//   color:#df5000;
// }

// .hljs-variable {
//   color:#df5000;
// }

// .hljs-template-variable {
//   color:#df5000;
// }

// .hljs-strong {
//   color:#df5000;
// }

// .hljs-emphasis {
//   color:#df5000;
// }

// .hljs-quote {
//   color:#df5000;
// }

// .hljs-keyword {
//   color:#a71d5d;
// }

// .hljs-selector-tag {
//   color:#a71d5d;
// }

// .hljs-type {
//   color:#a71d5d;
// }

// .hljs-literal {
//   color:#0086b3;
// }

// .hljs-symbol {
//   color:#0086b3;
// }

// .hljs-bullet {
//   color:#0086b3;
// }

// .hljs-attribute {
//   color:#0086b3;
// }

// .hljs-section {
//   color:#63a35c;
// }

// .hljs-name {
//   color:#63a35c;
// }

// .hljs-tag {
//   color:#333333;
// }

// .hljs-title {
//   color:#795da3;
// }

// .hljs-attr {
//   color:#795da3;
// }

// .hljs-selector-id {
//   color:#795da3;
// }

// .hljs-selector-class {
//   color:#795da3;
// }

// .hljs-selector-attr {
//   color:#795da3;
// }

// .hljs-selector-pseudo {
//   color:#795da3;
// }

// .hljs-addition {
//   color:#55a532;
//   background-color:#eaffea;
// }

// .hljs-deletion {
//   color:#bd2c00;
//   background-color:#ffecec;
// }

// .hljs-link {
//   text-decoration:underline;
// }



