#generator-wrapper {
  margin-right: 323px;
  position:relative;
}

/* Preview Window */
.generator-preview {
  width: 300px;
  height:300px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color:transparent;

  &.cb {
    box-sizing:content-box !important;
  }

  .preview-text {
    display:inline-block;
    background:rgba(255, 255, 255, .9);
    font-size:12px;
    text-align:center;
    padding:10px 15px 9px 15px;
    border-radius:2px;
    color:#7d7d7d;
    font-weight:600;
    width:184px;

    .dimensions {
      display:block;
      margin:3px 0 6px 0;
      font-size:15px;
    }

    .instructions {
      font-size: 12px;
      color: #969696;
      line-height: 1.25em;
      font-weight: 500;
    }
  }
}

.resize-wrapper {
  position:relative;

  .generator-preview:hover,
  .resizing {
    .resize-handle {
      opacity:1;
    }
  }
} 

.resize-handle {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border:2px dashed #ff6969;
  opacity:0;
  pointer-events:none;
  z-index: 300;
}

.generator-preview span > div {
  &:nth-child(5),
  &:nth-child(7) {
    cursor: nesw-resize !important;
  }

  &:nth-child(6),
  &:nth-child(8) {
    cursor: nwse-resize !important;
  }
}

.drag-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  cursor:move;
  z-index: 250;
}

.dropping {
  opacity:.6;
}

.preview-content {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.preview-style {
  z-index: -1;
  position:relative;
  border-radius:5px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
}


/* Media Queries */

@media screen and (max-width: 1250px) {
  #generator-wrapper {
    margin-right:300px;
  }
}