@import './_variables.scss';

#header {
  background-color: #fff;
  box-shadow:0 3px 5px -5px rgba(0, 0, 0, 0.07);
  border-bottom:1px solid #eeeeee;
  color: #6b6b6b;
  font-size: 13px;
  position: relative;

  .content {
    padding:20px 23px 21px 23px;
  }

  h1 {
    color:$accent-color;
    font-weight:700;
    font-size:23px;
    margin-bottom:5px;
    line-height:1;
  }

  p {
    max-width:750px;
    line-height: 1.4em;
    margin-bottom:8px;
  }

  .reset {
    float:right;
    margin-left:15px;
    margin-bottom:15px;
  }
}