@import './_variables.scss';

#header,
#toolbar {
  
  border-bottom: 1px solid #dedede;
  position: relative;
  z-index: 100;
}

#header {
  padding: 55px 50px 27px 390px;
  background-color: rgba(247, 247, 247, 0.95);

  h1 {
    color:$accent-color;
    font-weight:400;
    font-size:28px;
  }
}

#toolbar {
  height:69px;
  padding:0 50px 0 390px;
  background-color: rgba(255, 255, 255, 0.87);

  .button {
    margin-top:15px;
  }
}