/*

Editing the positions of all these fixed 
elements is easier in one separate file

*/

#nav-window {
  top: 25px;
	left: 25px;
  height:calc(100vh - 260px);
	max-height:500px;
	width: 260px;
}

#header {
  width:calc(100% + 285px);
  margin-left:-285px;
  padding-left:285px;
}

#sidebar {
  bottom:210px;
  width:320px;
}

#page-wrapper {
  padding-left:285px;
  padding-right:320px;

  &.generator {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    padding-bottom:210px;
  }
}

#generator-preview {
  padding:20px;
}

#generator-preview {
  display:flex;
  flex-grow:1;
}

#canvas {
  width:100%;
  flex-grow:1;
  padding:12px;
  border-radius:3px;
  display:flex;
}

#bottom-content-wrapper {
  height:210px;
}

@media (min-height: 920px) {
  #sidebar {
    bottom:250px;
  }

  #page-wrapper {
    &.generator {
      padding-bottom:250px;
    }
  }

  #bottom-content-wrapper {
    height:250px;
  }
}