/*

Editing the positions of all these fixed 
elements is easier in one separate file

*/

$nav-height: 55px;
$sidebar-width: 320px;
// $bottom-content-height: 210px;
$bottom-content-height: 50px;
$output-width: 360px;

#navigation {
  height:$nav-height;
}

#header {
  flex-basis:0;
  flex-grow:0;
}

#sidebar {
  position:fixed;
  top:$nav-height;
  right:0;
  width:$sidebar-width;
  bottom:$bottom-content-height;
}

#tooltip-wrapper {
  right:$sidebar-width;
}

#page-wrapper {
  padding-top:$nav-height;

  &.generator {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    padding-bottom:$bottom-content-height;

    #page-content {
      display:flex;
      flex-wrap:wrap;
      justify-content:flex-start;
      flex-direction:column;
    }
  }
}

#page-content {
  padding-right:$sidebar-width;
  flex-grow:1;
  position:relative;
}

#generator-content {
  display:flex;
  width:100%;
  flex-grow:1;
  justify-content:flex-end;
}

#generator-preview-wrapper {
  width:calc(100% - #{$output-width});
  display: flex;
  flex-direction: column;
}

#preview-toolbar {
  top:$nav-height;
  position:sticky;
  z-index: 9000;
}

#generator-preview {
  display:flex;
  flex-grow:1;
  padding:25px;
  position:relative;
}

#generator-output {
  flex-grow:0;
  width:$output-width;
  flex-shrink:0;

  &.fixed {
    #output-scroller {
      position:fixed !important;
      left:0;
      bottom:$bottom-content-height;
      min-height:0 !important;
    }
  }

  &.no-sticky {
    #output-scroller {
      position:static;
      min-height:100%;
      overflow:auto;
    }
  }
}

#output-scroller {
  width:$output-width;
  position:sticky;
  position:-webkit-sticky;
  top:$nav-height;
}

#output-content {
  max-height:calc(100vh - #{$nav-height} - #{$bottom-content-height});
}

#bottom-content-wrapper {
  height:$bottom-content-height;
}

#main-footer {
  height:$bottom-content-height;
  z-index: 400;
}

@media (min-height: 920px) {
  // $bottom-content-height: 50px;

  #sidebar {
    bottom:$bottom-content-height;
  }

  #page-wrapper {
    &.generator {
      padding-bottom:$bottom-content-height;
    }
  }

  #generator-output {
    &.fixed {
      #output-scroller {
        bottom: $bottom-content-height;
      }
    }
  }

  #output-content {
    max-height:calc(100vh - #{$nav-height} - #{$bottom-content-height});
  }

  #bottom-content-wrapper {
    height:$bottom-content-height;
  }
}