@import './_variables.scss';

#nav-window {
	position: fixed;
	top: 25px;
	left: 25px;
	background-color: #fff;
	border-radius: 6px;
	z-index: 4000;
	min-height: 510px;
	width: 280px;
	box-shadow: 0px 9px 29px 0px rgba(184, 185, 218, 0.36);
	border:1px solid rgba($accent-color, .23);
	padding:30px;
}

#nav-window a.current {
	color:orange;
}


/* Media Queries */

@media screen and (max-width: 1250px) {
  #nav-window {
    width:270px;
  }
}