#navigation {
	@include gradient;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 3000;
	display:flex;
	justify-content:center;
	align-items:center;

	svg {
		display:none;
	}
}

#page-links {
	a {
		color:#fff;
		font-weight:600;
		font-size:14px;
		text-decoration:none;
		display:inline-flex;
		line-height:35px;
    margin: 0 2px;
    padding:0 15px;
		border-radius:3px;
		position:relative;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color:rgba(#000, .12);
		}

		&:before {
			content:"";
			width: 15px;
			height: 15px;
			left:16px;
			top:8px;
			background-size:contain;
			background-repeat:no-repeat;
			margin-right:10px;
			filter:grayscale(1);
		}

		&.current {
			background-color:rgba(#000, .1);

			&:before {
				filter:none;
			}
		}

		&.box-shadow:before {
			width: 17px;
			height: 17px;
			top:7px;
			left:15px;
			background-image:url('../images/nav-icons/box-shadow.svg');
		}

		&.border-radius:before {
			width: 14px;
			height: 14px;
			top:8px;
			background-image:url('../images/nav-icons/border-radius.svg');
		}

		&.gradient:before {
			background-image:url('../images/nav-icons/gradient.svg');
		}

		&.text-shadow:before {
			background-image:url('../images/nav-icons/text-shadow.svg');
			width: 16px;
			height: 16px;
			left:18px;
		}
	}
}