/* ------------------------- */
/* Generator Preview */

#preview-loading {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  justify-content: center;
  align-items:center;
  z-index: 300;
  display:none;
}

body {
  &.page-loading {
    #preview-loading {
      display:none !important;
    }
  }

  &.preview-loading {
    #preview-loading {
      display:flex;
      visibility:visible !important;
    }

    #canvas {
      > * {
        visibility:hidden; 
      }
    }
  }
}

#canvas {
  width:100%;
  flex-grow:1;
  padding:20px;
  border-radius:2px;
  position:relative;
  overflow:hidden;
  border:1px solid rgba(#000, .07);
  display:flex;

  &:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    box-shadow:inset 0px 0 8px 0px rgba(0, 0, 0, 0.06);
    pointer-events: none;
    z-index: 999;
  }
  
  &.default {
    background-image:url('../images/checker-bg.svg');
    background-size: 18px 18px;
    background-repeat:repeat;
    border:1px solid #dedede !important;

    &:before {
      box-shadow:inset 0px 0 18px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &.center {
    justify-content:center;
    align-items:center;
  }
}

#generator-loading {
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 background-color: #fdfdfd;
 z-index: 888;
 display:flex;
 justify-content:center;
 align-items:center;
}

.app-loading #generator-loading {
  display:flex;
}

#preview-wrapper {
  position:absolute;
  top:50%;
  left:50%;
  width:300px;
  height:300px;
  margin-top:-150px;
  margin-left:-150px;

  @media (max-height: 840px) {
    width:200px;
    height:200px;
    margin-top:-100px;
    margin-left:-100px;
  }
}

.resize-wrapper {
  will-change: left, top;
  position:absolute;
} 

.preview-window:hover,
.resizing {
  .resize-handle {
    opacity:1;
  }
}

.resize-handle {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border:2px dashed #ff6969;
  opacity:0;
  pointer-events:none;
  z-index: 300;
}

.preview-window {
  will-change: transform;
  width: 300px;
  height:300px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color:transparent;
  border-radius:4px;

  &.cb {
    box-sizing:content-box !important;
  }

  span > div {
    &:nth-child(5),
    &:nth-child(7) {
      cursor: nesw-resize !important;
    }

    &:nth-child(6),
    &:nth-child(8) {
      cursor: nwse-resize !important;
    }
  }
}

.drag-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  cursor:move;
  z-index: 250;
}

.preview-content {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display:flex;
  align-items: center;
  justify-content: center;

  &.hidden {
    visibility:hidden;
  }
}

.preview-style {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:4px;
  overflow:hidden;

  .image,
  .background {
    position:absolute;
    top:0;
    // bottom:0;
    left:0;
    // right:0;
    pointer-events: none;
  }

  .image {
    background-size:100% 100%;
  }

  .background {
    z-index: -1;
  }
}

img.preview-style {
  position:relative;
  overflow:unset;
}