@import './_variables.scss';

#preset-bar {
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(247, 247, 247, 0.8);
  border-top: 1px solid #dedede;

  .title {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    padding: 6px 15px;
    color: #828282;
    background-color: rgba(229, 229, 229, 0.24);
    border-bottom: 1px solid #e7e7e7;
  }
  
  .presets {
    display:flex;
    padding:15px;
  }

  .preset {
    width: 60px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 6px 18px 0px rgba(184, 185, 218, 0.27);
    border: 1px solid rgba(72, 52, 212, 0.2);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .1s;
    margin-right:15px;

    &:hover {
      transform:scale(1.05);
    }

    .thumbnail {
      width:30px;
      height:30px;
      background:$accent-color;
    }
  }
}