@import './_variables.scss';

#preset-bar {
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  padding:15px;
  background-color: rgba(247, 247, 247, 0.8);
  border-top: 1px solid #dedede;
  display:flex;

  .preset {
    width: 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 6px 18px 0px rgba(184, 185, 218, 0.27);
    border: 1px solid rgba(72, 52, 212, 0.2);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .2s;
    margin-right:15px;

    &:hover {
      transform:scale(1.05);
    }

    .thumbnail {
      width:35px;
      height:35px;
      background:$accent-color;
    }
  }
}