@import './_variables.scss';

#presets-wrapper {
  flex-grow:1;
  
  .presets {
    display:flex;
    padding:12px 0 0 12px;
    flex-wrap:wrap;
  }

  .preset {
    width: 60px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 6px 18px 0px rgba(184, 185, 218, 0.27);
    border: 1px solid rgba(72, 52, 212, 0.2);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .1s;
    margin-right:12px;
    margin-bottom:12px;

    &:hover {
      transform:scale(1.05);
    }

    .thumbnail {
      width:30px;
      height:30px;
      background:$accent-color;
    }
  }
}