#settings-wrapper {
  display:flex;

  > div {
    border-right:1px solid #dedede;
    min-width:300px;
  }

  .content {
    padding:15px 18px;

    > .field-wrapper {
      margin-bottom:8px;

      &:last-child {
        margin-bottom:0;
      }
    }
  }

  .inline {
    justify-content:space-between;

    .title {
      flex-grow:1;
    }
  }
}

#preview-settings {
  // .bottom-title {
  //   border-top: 1px solid #e7e7e7;
  // }
}