/* ------------------------- */
/* Static Window Preview */

#checker-window {
	width:100%;
	min-height:400px;
	background-image:url('../images/checker-bg.svg');
	background-size: 18px 18px;
	background-repeat:repeat;
	border-radius: 2px;
	border: 1px solid #dddddd;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
	padding:40px;
	display:flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;

	.overlay {
		position:absolute;
		z-index: 1;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}

	.content {
		position:relative;
		z-index: 200;
	}
}


/* ------------------------- */
/* Text Area Preview */

#text-area-preview {
	background-color:transparent;
	resize:none;
	border:none !important;
	cursor: pointer;
	padding:15px;
	line-height:1.2em;

	&:focus {
		cursor:text;
	}

	@mixin placeholder {
	  &::-webkit-input-placeholder {@content}
	  &:-moz-placeholder           {@content}
	  &::-moz-placeholder          {@content}
	  &:-ms-input-placeholder      {@content}  
	}

	@include placeholder {
		color:#c8c8c8 !important;
		opacity: 1;
		text-shadow:none;
	}
}