/* ------------------------- */
/* Static Window Preview */

#static-preview {
	min-height:400px;
}

#checker-window {
	width:100%;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url('../images/checker-bg.svg');
	background-size: 18px 18px;
	background-repeat:repeat;
	border-radius: 2px;
	border: 1px solid #dddddd;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
	padding:40px;
	display:flex;
	justify-content: center;
	align-items: center;
	overflow:scroll;

	.overlay {
		position:absolute;
		z-index: 1;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}

	.content {
		position:relative;
		z-index: 200;
	}
}


/* ------------------------- */
/* Text Area Preview */

@mixin text-area-input-styles {
	&:hover {
		border:2px dashed #ff6969 !important;
	}

	&:focus {
		cursor:text;
		border:2px dashed $accent-color !important;
	}
}

#text-area-preview {
	background-color:transparent;
	resize:none;
	border:2px dashed transparent !important;
	cursor: pointer;
	padding:15px 25px 20px 25px;
	line-height:1.2em;
	min-height:400px;
	height:100%;
	width:100%;

	@include text-area-input-styles;

	@mixin placeholder {
	  &::-webkit-input-placeholder {@content}
	  &:-moz-placeholder           {@content}
	  &::-moz-placeholder          {@content}
	  &:-ms-input-placeholder      {@content}  
	}

	@include placeholder {
		color:#c8c8c8 !important;
		opacity: 1;
		text-shadow:none;
	}
}

.no-bg {
	#text-area-preview {
		border:2px dashed #eaeaea !important;

		@include text-area-input-styles;
	}
}