#tooltip-wrapper {
  position:fixed;
  top:0;
  z-index: 9999;
}

.tooltip-icon {
  width: 14px;
  height: 14px;
  background-color: #b9b9b9;
  box-shadow:inset 0 0 0 1px #fff;
  border: 2px solid #b9b9b9;
  box-sizing: content-box;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 200;
  line-height: 0;
  text-align: center;
  margin-left: 5px;
  top:1px;

  &:hover {
    background-color: #a5a5a5;
    border: 2px solid #a5a5a5;
    box-shadow:inset 0 0 0 1px #fff, 0 0 0 7px rgba(0, 0, 0, 0.04);
  }

  &:before {
    content:"?";
    line-height:14px;
    font-size:11px;
    font-weight:900;
    color:#fff;
  }
}

.tooltip {
  position:absolute;
  width:250px;
  height:100px;
  border-radius:4px;
  display:none;
  transform:translateX(calc(-100% - 15px));
  box-shadow: 0px 3px 12px 0px rgba(184, 185, 218, 0.36);
  border:1px solid rgba($accent-color, .23);
  background-color:#fff;
  padding:9px 12px;
  font-size:13px;
  color:#505050;

  &.open {
    display:block;
  }

  &.fixed {
    position:fixed;
    top:15px !important;
  }

  .close {
    position:absolute;
    width:20px;
    height:20px;
    top:6px;
    right:6px;
    cursor:pointer;

    &:before,
    &:after {
      content:"";
      position:absolute;
      top:3px;
      bottom:3px;
      left:50%;
      width:2px;
      margin-left:-1px;
      background:#7b7b7b;
      border-radius:1px;
    }

    &:before {
      transform:rotate(45deg);
    }

    &:after {
      transform:rotate(-45deg);
    }

    &:hover {
      &:before,
      &:after {
        background-color:#b3b3b3;
      }
    }
  }
}