@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

#app {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }

#main {
  margin: 30px 50px 60px 335px;
  position: relative; }

.page-content {
  color: #4e4e4e;
  font-weight: 300;
  font-size: 20px; }

.left {
  float: left; }

.right {
  float: right; }

p:last-child {
  margin-bottom: 0 !important; }

.p10 {
  width: 10%; }

.p20 {
  width: 20%; }

.p30 {
  width: 30%; }

.p40 {
  width: 40%; }

.p50 {
  width: 50%; }

.p60 {
  width: 60%; }

.p70 {
  width: 70%; }

.p80 {
  width: 80%; }

.p90 {
  width: 90%; }

.p100 {
  width: 100%; }

#generator-wrapper {
  margin-right: 323px;
  position: relative; }

/* ------------------------- */
/* Media Queries */
/* ------------------------- */
/* Imports */
.notification-container {
  box-sizing: border-box;
  position: fixed;
  bottom: 20px;
  left: 18px;
  z-index: 999999;
  width: 284px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto; }

.notification {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px; }

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0; }

.notification:hover,
.notification:focus {
  opacity: 1; }

.notification-enter {
  visibility: hidden;
  opacity: 0; }

.notification-enter.notification-enter-active {
  visibility: visible;
  transition: all 0.4s;
  opacity: 0.9; }

.notification-leave {
  visibility: visible;
  opacity: 0.9; }

.notification-leave.notification-leave-active {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s; }

.notification-info {
  background-color: #2f96b4; }

.notification-success {
  background-color: #55b155; }

.notification-warning {
  background-color: #f89406; }

.notification-error {
  background-color: #bd362f; }

#nav-window {
  position: fixed;
  top: 25px;
  left: 25px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 4000;
  min-height: 510px;
  width: 280px;
  box-shadow: 0px 9px 29px 0px rgba(184, 185, 218, 0.36);
  border: 1px solid rgba(72, 52, 212, 0.23); }
  #nav-window .logo {
    margin: 25px 30px 20px 30px;
    padding: 10px;
    display: block;
    overflow: visible; }
    #nav-window .logo svg {
      width: 100%;
      height: 26px;
      overflow: visible; }
    #nav-window .logo .title {
      fill: #444545; }
    #nav-window .logo .bracket {
      fill: #c6c6c5;
      transition: all .4s; }
    #nav-window .logo:hover .bracket {
      fill: #4834d4; }
      #nav-window .logo:hover .bracket.left {
        transform: translateX(-6px); }
      #nav-window .logo:hover .bracket.right {
        transform: translateX(6px); }

#page-links {
  background-color: #fcfcfc;
  padding: 30px 0; }
  #page-links h2 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #a4a4a4; }
  #page-links a {
    text-decoration: none;
    color: #505050;
    display: block;
    line-height: 1.2em;
    padding: 7px 30px 8px 58px;
    position: relative;
    font-size: 17px;
    font-weight: 400; }
    #page-links a:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      left: 31px;
      top: 9px;
      background-size: contain;
      background-repeat: no-repeat;
      filter: grayscale(1); }
    #page-links a:hover {
      opacity: .6; }
    #page-links a.current {
      color: #4834d4;
      opacity: 1 !important; }
      #page-links a.current:before {
        filter: none; }
    #page-links a.box-shadow:before {
      width: 17px;
      height: 17px;
      top: 8px;
      left: 30px;
      background-image: url("../images/nav-icons/box-shadow.svg"); }
    #page-links a.border-radius:before {
      width: 14px;
      height: 14px;
      top: 10px;
      background-image: url("../images/nav-icons/border-radius.svg"); }
    #page-links a.gradient:before {
      background-image: url("../images/nav-icons/gradient.svg"); }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #nav-window {
    width: 270px; } }

#header,
#toolbar {
  border-bottom: 1px solid #dedede;
  position: relative;
  z-index: 100; }

#header {
  padding: 45px 350px 18px 335px;
  background-color: rgba(247, 247, 247, 0.8); }
  #header h1 {
    color: #4834d4;
    font-weight: 400;
    font-size: 28px; }
  #header .intro {
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 400;
    color: #6b6b6b;
    font-size: 13px;
    line-height: 1.4em;
    max-width: 550px; }
    #header .intro p {
      margin-bottom: 8px; }

#toolbar {
  height: 69px;
  padding: 0 355px 0 330px;
  background-color: rgba(255, 255, 255, 0.87); }
  #toolbar .toolbar-title {
    float: left;
    color: #505050;
    text-align: right;
    margin-right: 13px;
    font-weight: 600;
    height: 68px;
    background-color: #f9f9f9;
    line-height: 1.2em;
    padding: 14px 19px 0 45px;
    font-size: 16px;
    margin-left: -50px;
    border-right: 1px solid #dedede; }
  #toolbar .item {
    float: left;
    margin-right: 7px;
    height: 68px; }
    #toolbar .item:last-child {
      margin-right: 0; }
    #toolbar .item.input {
      padding-top: 10px; }
    #toolbar .item label {
      display: block;
      margin-bottom: 3px;
      font-weight: 600;
      color: #505050;
      font-size: 12px; }
    #toolbar .item.border {
      border-right: 1px solid #dedede;
      padding-right: 13px;
      margin-right: 13px; }
    #toolbar .item .color-preview {
      width: 77px;
      height: 27px;
      border: 1px solid #d2d2d2;
      border-radius: 0;
      margin: 0; }
  #toolbar .button {
    margin-top: 15px; }
  #toolbar .toggle-wrapper {
    float: left;
    margin-top: 0; }
  #toolbar .toggle-content {
    float: left;
    margin-left: 12px;
    padding-top: 1px; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #header,
  #toolbar {
    padding-left: 320px; }
  #toolbar {
    padding-right: 314px; } }

/* ------------------------- */
/* Single Window preview */
.generator-preview {
  will-change: transform;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: transparent; }
  .generator-preview.cb {
    box-sizing: content-box !important; }
  .generator-preview .preview-text {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    text-align: center;
    padding: 10px 15px 9px 15px;
    border-radius: 2px;
    color: #7d7d7d;
    font-weight: 600;
    width: 184px; }
    .generator-preview .preview-text .dimensions {
      display: block;
      margin: 3px 0 6px 0;
      font-size: 15px; }
    .generator-preview .preview-text .instructions {
      font-size: 12px;
      color: #969696;
      line-height: 1.25em;
      font-weight: 500; }

.resize-wrapper {
  will-change: left, top;
  position: relative; }
  .resize-wrapper .generator-preview:hover .resize-handle,
  .resize-wrapper .resizing .resize-handle {
    opacity: 1; }

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px dashed #ff6969;
  opacity: 0;
  pointer-events: none;
  z-index: 300; }

.generator-preview span > div:nth-child(5), .generator-preview span > div:nth-child(7) {
  cursor: nesw-resize !important; }

.generator-preview span > div:nth-child(6), .generator-preview span > div:nth-child(8) {
  cursor: nwse-resize !important; }

.drag-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  cursor: move;
  z-index: 250; }

.preview-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .preview-content.hidden {
    visibility: hidden; }

.preview-style {
  z-index: -1;
  position: relative;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .preview-style .style,
  .preview-style .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .preview-style .style {
    z-index: 1; }
  .preview-style .background {
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #generator-wrapper {
    margin-right: 300px; } }

/* ------------------------- */
/* Static Window Preview */
#static-preview {
  width: 100%;
  min-height: 400px;
  background-image: url("../images/checker-bg.svg");
  background-size: 18px 18px;
  background-repeat: repeat;
  border-radius: 2px;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  #static-preview .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  #static-preview .content {
    position: relative;
    z-index: 200; }

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 340px;
  background-color: #ececec;
  z-index: 100;
  border-left: 2px solid #dadada; }
  #sidebar .sidebar-title {
    width: calc(100% + 54px);
    margin-left: -27px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #e5e5e5;
    color: #828282;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 0 9px 0;
    line-height: 1;
    border-bottom: 1px solid #dadada;
    border-top: 2px solid #dadada; }
  #sidebar > .sidebar-title {
    width: 100%;
    margin-left: 0;
    height: 34px;
    margin-bottom: 0; }
    #sidebar > .sidebar-title:first-child {
      border-top: none;
      padding-top: 9px;
      position: relative;
      z-index: 9999; }
  #sidebar .section-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #828282;
    margin-bottom: 9px;
    margin-bottom: 24px; }
  #sidebar .sliders-wrapper {
    position: relative; }
    #sidebar .sliders-wrapper:first-child {
      padding-top: 4px; }
    #sidebar .sliders-wrapper:after {
      clear: both;
      content: "";
      display: block; }
    #sidebar .sliders-wrapper .top {
      margin-bottom: 15px; }
      #sidebar .sliders-wrapper .top .title {
        vertical-align: middle; }
  #sidebar .divider {
    height: 2px;
    background-color: #d2d2d2;
    margin: 27px 0 25px 0; }
  #sidebar .disabled {
    opacity: .3;
    pointer-events: none; }
  #sidebar .shift-down {
    position: relative;
    top: 10px; }
  #sidebar .inputs-row {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    position: relative; }
    #sidebar .inputs-row .field-wrapper {
      display: table-cell;
      padding: 0 2px;
      vertical-align: top;
      margin-bottom: 0; }
      #sidebar .inputs-row .field-wrapper:first-child {
        padding-left: 0; }
      #sidebar .inputs-row .field-wrapper:last-child {
        padding-right: 0; }
      #sidebar .inputs-row .field-wrapper.align-right {
        text-align: right; }
        #sidebar .inputs-row .field-wrapper.align-right .color-wrapper {
          float: right; }
    #sidebar .inputs-row .rc-slider {
      margin-bottom: 0; }

#sidebar-controls {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  bottom: 230px;
  overflow: scroll;
  padding: 20px 27px; }

/* Output CSS */
#output-wrapper {
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 230px; }
  #output-wrapper .sidebar-title {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: 15px; }
  #output-wrapper .button {
    float: right;
    margin-top: 3px; }
  #output-wrapper .field-wrapper {
    margin-top: -4px; }

#output-code-wrapper {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: -15px;
  padding: 6px 6px 1px 6px;
  margin-bottom: 15px;
  float: left;
  background-color: #fff; }

#output-code {
  font-size: 11px;
  line-height: 1.4em;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  height: 110px;
  color: #505050;
  font-weight: 600;
  border: 1px solid #fff;
  background-color: #fff;
  width: 100%;
  padding: 6px 8px; }
  #output-code:focus {
    border: 1px solid #4834d4; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #sidebar {
    width: 300px; } }

#preset-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 247, 247, 0.8);
  border-top: 1px solid #dedede; }
  #preset-bar .title {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    padding: 6px 15px;
    color: #828282;
    background-color: rgba(229, 229, 229, 0.24);
    border-bottom: 1px solid #e7e7e7; }
  #preset-bar .presets {
    display: flex;
    padding: 15px; }
  #preset-bar .preset {
    width: 60px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 6px 18px 0px rgba(184, 185, 218, 0.27);
    border: 1px solid rgba(72, 52, 212, 0.2);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s;
    margin-right: 15px; }
    #preset-bar .preset:hover {
      transform: scale(1.05); }
    #preset-bar .preset .thumbnail {
      width: 30px;
      height: 30px;
      background: #4834d4; }

#file-drop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(72, 52, 212, 0.95);
  color: #fff;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s; }
  #file-drop:before {
    position: absolute;
    content: "";
    border: 3px dashed #fff;
    opacity: .2;
    top: 14px;
    bottom: 14px;
    left: 14px;
    right: 14px; }
  #file-drop.visible {
    opacity: 1;
    pointer-events: auto; }
  #file-drop .content {
    max-width: 800px; }
  #file-drop .icon {
    width: 150px;
    height: 120px;
    background-image: url("../images/drop-file.svg");
    background-size: 150px 120px;
    margin: 0 auto 30px auto; }
  #file-drop .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px; }
  #file-drop .subtitle {
    font-size: 20px;
    font-weight: 600;
    opacity: .7; }

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }
  .loading-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 6px solid #4834d4;
    border-radius: 50%;
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4834d4 transparent transparent transparent; }
    .loading-spinner div:nth-child(1) {
      animation-delay: -0.45s; }
    .loading-spinner div:nth-child(2) {
      animation-delay: -0.3s; }
    .loading-spinner div:nth-child(3) {
      animation-delay: -0.15s; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#generator-loading {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.no-select {
  webkit-touch-callout: none;
  user-select: none; }

.row:after {
  clear: both;
  content: "";
  display: block; }

.field-wrapper {
  margin-bottom: 21px; }
  .field-wrapper:after {
    clear: both;
    content: "";
    display: block; }
  .field-wrapper.left {
    margin-right: 12px; }
    .field-wrapper.left:last-child {
      margin-right: 0; }
  .field-wrapper.right {
    text-align: right; }
    .field-wrapper.right .toggle-wrapper {
      margin-right: -3px; }
  .field-wrapper.half .title, .field-wrapper.small .title {
    font-size: 12px; }
  .field-wrapper.half {
    width: calc(50% - 8px);
    margin-right: 16px;
    float: left; }
    .field-wrapper.half:nth-child(even) {
      margin-right: 0 !important; }
  .field-wrapper.w10 {
    width: 10%; }
  .field-wrapper.w20 {
    width: 20%; }
  .field-wrapper.w30 {
    width: 30%; }
  .field-wrapper.w40 {
    width: 40%; }
  .field-wrapper.w50 {
    width: 50%; }
  .field-wrapper.w60 {
    width: 60%; }
  .field-wrapper.w70 {
    width: 70%; }
  .field-wrapper.w80 {
    width: 80%; }
  .field-wrapper.w90 {
    width: 90%; }
  .field-wrapper.w100 {
    width: 100%; }
  .field-wrapper.align-right {
    float: right;
    text-align: right; }
    .field-wrapper.align-right .color-preview {
      float: right; }
  .field-wrapper.no-margin {
    margin-right: 0 !important; }
  .field-wrapper.wide-input input {
    width: 70px; }
  .field-wrapper .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #505050;
    display: block; }
  .field-wrapper.small .title {
    font-size: 13px; }

.table-wrapper {
  display: table;
  width: 100%; }
  .table-wrapper .active-toggle,
  .table-wrapper .input,
  .table-wrapper .title {
    display: table-cell;
    vertical-align: top; }
  .table-wrapper .active-toggle {
    width: 67px;
    padding-top: 6px; }
    .table-wrapper .active-toggle .toggle-wrapper {
      margin-left: -7px; }

input[type="text"],
input[type="number"],
.chrome-picker input,
.select-wrapper .Select-control {
  height: 27px !important;
  padding: 0 6px;
  font-size: 14px;
  -webkit-appearance: none;
  apperance: none;
  border: 1px solid #d2d2d2 !important;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  line-height: normal;
  box-shadow: none !important;
  border-radius: 0 !important; }
  input[type="text"]:focus,
  input[type="number"]:focus,
  .chrome-picker input:focus,
  .select-wrapper .Select-control:focus {
    border: 1px solid #4834d4 !important; }

.number-input {
  font-weight: 600;
  font-size: 16px;
  width: 65px; }

.slider-input {
  float: right;
  position: relative;
  margin-top: -27px;
  width: 59px; }
  .slider-input.has-string {
    padding-right: 0 !important; }

.has-units .slider-input,
.has-units .units-select {
  float: right;
  margin-top: -20px; }

.has-units .slider-input {
  width: 42px; }

.has-units .select-wrapper.units-select {
  left: -1px;
  position: relative;
  width: 31px;
  cursor: pointer; }
  .has-units .select-wrapper.units-select .Select-control {
    background-color: #f6f6f6; }
    .has-units .select-wrapper.units-select .Select-control:hover {
      background-color: #efefef; }
    .has-units .select-wrapper.units-select .Select-control .Select-value {
      padding: 0 0 1px 0 !important;
      text-align: center; }
      .has-units .select-wrapper.units-select .Select-control .Select-value .Select-value-label {
        color: #7a7a7a !important;
        font-size: 13px; }
  .has-units .select-wrapper.units-select .Select.is-focused .Select-control {
    z-index: 200; }

.button {
  -webkit-appearance: none;
  apperance: none;
  font-family: "Montserrat", sans-serif;
  background-color: #4834d4;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 15px 11px 15px;
  letter-spacing: .08em;
  line-height: 1em;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block; }
  .button:hover {
    background-color: #5b49d8; }

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px; }

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #bbbbbb;
  height: 4px;
  border-radius: 6px; }

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #4834d4; }

.rc-slider-handle {
  position: absolute;
  margin-left: -11px;
  margin-top: -9px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 3px #4834d4;
  background-color: #fff;
  outline: none;
  transition: transform .2s ease;
  -ms-touch-action: pan-x;
  touch-action: pan-x; }
  .rc-slider-handle.dragging, .rc-slider-handle:hover {
    transform: scale(1.2); }
  .rc-slider-handle:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px; }

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999; }

.rc-slider-mark-text-active {
  color: #666; }

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent; }

.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle; }

.rc-slider-dot-active {
  border-color: #96dbfa; }

.rc-slider-disabled {
  background-color: #e9e9e9; }
  .rc-slider-disabled .rc-slider-track {
    background-color: #ccc; }
  .rc-slider-disabled .rc-slider-handle,
  .rc-slider-disabled .rc-slider-dot {
    border-color: #ccc;
    box-shadow: none;
    background-color: #fff;
    cursor: not-allowed; }
  .rc-slider-disabled .rc-slider-mark-text,
  .rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed !important; }

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px; }
  .rc-slider-vertical .rc-slider-rail {
    height: 100%;
    width: 4px; }
  .rc-slider-vertical .rc-slider-track {
    left: 5px;
    bottom: 0;
    width: 4px; }
  .rc-slider-vertical .rc-slider-handle {
    margin-left: -5px;
    margin-bottom: -7px;
    -ms-touch-action: pan-y;
    touch-action: pan-y; }
  .rc-slider-vertical .rc-slider-mark {
    top: 0;
    left: 18px;
    height: 100%; }
  .rc-slider-vertical .rc-slider-step {
    height: 100%;
    width: 4px; }
  .rc-slider-vertical .rc-slider-dot {
    left: 2px;
    margin-bottom: -4px; }
    .rc-slider-vertical .rc-slider-dot:first-child, .rc-slider-vertical .rc-slider-dot:last-child {
      margin-bottom: -4px; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
  animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
  animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }

@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip-hidden {
  display: none; }

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0; }

.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9; }

.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c; }

.color-wrapper {
  position: relative;
  margin-bottom: 0; }
  .color-wrapper.no-title {
    margin-top: -10px; }
  .color-wrapper.small-preview .color-preview {
    width: 40px;
    height: 40px; }

.color-picker-wrapper {
  position: fixed;
  z-index: 9999; }

.color-preview {
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 3px;
  cursor: pointer; }

.chrome-picker {
  position: fixed;
  z-index: 9999;
  width: 226px !important;
  margin-top: 5px;
  transform: translateX(-50%); }
  .chrome-picker input {
    outline: none; }

.palette,
.csh {
  width: 100% !important; }

.inputs-row .palette {
  margin-top: 1px;
  margin-bottom: 10px; }

.inputs-row:first-child > .palette {
  margin-top: 8px; }

.inputs-row .csh {
  width: auto !important;
  height: auto !important;
  position: absolute !important;
  left: 0;
  right: 1px;
  top: 0;
  bottom: -10px;
  cursor: copy !important; }
  .inputs-row .csh.dragging {
    cursor: pointer !important; }

.cs {
  background-position: right center;
  bottom: 3px;
  height: 17px;
  position: absolute;
  width: 11px;
  cursor: pointer;
  background-image: url("../images/color-stop.png");
  background-size: 22px 17px; }
  .cs.active {
    background-position: left center;
    z-index: 200; }
  .cs div {
    height: 8px;
    left: 2px;
    width: 7px;
    position: absolute;
    top: 7px; }

.toggle-wrapper {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-top: 3px; }
  .toggle-wrapper input {
    display: none; }
    .toggle-wrapper input:checked + .toggle {
      background-color: #4834d4; }
      .toggle-wrapper input:checked + .toggle:before {
        transform: translateX(22px); }
    .toggle-wrapper input:focus + .toggle {
      box-shadow: 0 0 1px #4834d4; }
  .toggle-wrapper .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    transition: .15s;
    border-radius: 34px; }
    .toggle-wrapper .toggle:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .15s;
      border-radius: 50%; }
  .toggle-wrapper .toggle-content {
    float: left; }

.select-wrapper {
  margin-bottom: 22px; }
  .select-wrapper .title {
    margin-bottom: 5px; }
  .select-wrapper .Select-menu-outer {
    display: none; }
  .select-wrapper .Select .Select-control,
  .select-wrapper .Select .Select-input {
    height: 35px !important;
    font-weight: 600; }
  .select-wrapper .Select .Select-input {
    display: block;
    background-color: transparent !important;
    border: none !important; }
  .select-wrapper .Select .Select-control {
    padding: 0 !important;
    box-shadow: none !important;
    position: relative; }
    .select-wrapper .Select .Select-control input {
      padding: 0;
      width: 100% !important;
      height: 35px;
      line-height: normal;
      color: #505050;
      font-weight: 600;
      font-wize: 15px; }
    .select-wrapper .Select .Select-control .Select-value,
    .select-wrapper .Select .Select-control .Select-input {
      padding: 0 5px 1px 9px !important; }
    .select-wrapper .Select .Select-control .Select-value-label {
      font-size: 15px;
      color: #505050 !important;
      line-height: 35px !important;
      display: block; }
    .select-wrapper .Select .Select-control .Select-arrow {
      border-width: 6px 4px 2px;
      left: -2px; }
  .select-wrapper .Select.is-focused .Select-control {
    border: 1px solid #4834d4 !important; }
  .select-wrapper.small .Select .Select-control {
    height: 27px !important; }
  .select-wrapper.small .Select .Select-input {
    height: calc(27px - 2px) !important; }
  .select-wrapper.small .Select .Select-control input {
    height: 27px; }
  .select-wrapper.small .Select .Select-control .Select-value,
  .select-wrapper.small .Select .Select-control .Select-value-label {
    line-height: calc(27px - 2px) !important; }
    .select-wrapper.small .Select .Select-control .Select-value.shift .Select-value-label,
    .select-wrapper.small .Select .Select-control .Select-value-label.shift .Select-value-label {
      line-height: calc(27px - 4px) !important; }

.menu-wrapper {
  background-color: #fff;
  overflow: scroll;
  border: 1px solid #C9C9CC;
  margin-top: 2px;
  box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.1);
  z-index: 9998;
  font-size: 13px;
  font-weight: 600; }
  .menu-wrapper.has-container {
    position: absolute; }
  .menu-wrapper .Select-option {
    padding: 7px 12px 8px 12px;
    color: #5a5a5a !important; }
    .menu-wrapper .Select-option.is-focused {
      background-color: #f9f9f9; }
    .menu-wrapper .Select-option.is-selected {
      background-color: rgba(72, 52, 212, 0.1); }
  .menu-wrapper.small .Select-option {
    padding: 7px 0 8px 0;
    text-align: center; }

.position-select {
  float: left;
  width: 105px;
  height: 105px;
  position: relative; }
  .position-select .position {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer; }
    .position-select .position:before, .position-select .position:after {
      background-color: #bbbbbb; }
    .position-select .position:hover:before, .position-select .position:hover:after {
      background-color: #959595; }
    .position-select .position.center {
      top: 50%;
      left: 50%;
      margin-left: -17.5px;
      margin-top: -17.5px;
      background-color: #bbbbbb; }
      .position-select .position.center:hover {
        background-color: #959595; }
      .position-select .position.center.active {
        background-color: #4834d4 !important; }
    .position-select .position.top-left {
      top: 0;
      left: 0; }
      .position-select .position.top-left:after {
        content: "";
        position: absolute;
        height: 8px;
        top: 0;
        left: 0;
        right: 6.5px; }
      .position-select .position.top-left.active {
        cursor: default !important; }
        .position-select .position.top-left.active:before, .position-select .position.top-left.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.top-left.active.center {
          background-color: #4834d4 !important; }
      .position-select .position.top-left:before {
        content: "";
        position: absolute;
        width: 8px;
        left: 0;
        top: 0;
        bottom: 6.5px; }
      .position-select .position.top-left.active {
        cursor: default !important; }
        .position-select .position.top-left.active:before, .position-select .position.top-left.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.top-left.active.center {
          background-color: #4834d4 !important; }
    .position-select .position.top {
      top: 0;
      left: 50%;
      margin-left: -17.5px; }
      .position-select .position.top:after {
        content: "";
        position: absolute;
        height: 8px;
        top: 0;
        left: 3.5px;
        right: 3.5px; }
      .position-select .position.top.active {
        cursor: default !important; }
        .position-select .position.top.active:before, .position-select .position.top.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.top.active.center {
          background-color: #4834d4 !important; }
    .position-select .position.top-right {
      top: 0;
      right: 0; }
      .position-select .position.top-right:after {
        content: "";
        position: absolute;
        height: 8px;
        top: 0;
        left: 6.5px;
        right: 0; }
      .position-select .position.top-right.active {
        cursor: default !important; }
        .position-select .position.top-right.active:before, .position-select .position.top-right.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.top-right.active.center {
          background-color: #4834d4 !important; }
      .position-select .position.top-right:before {
        content: "";
        position: absolute;
        width: 8px;
        right: 0;
        top: 0;
        bottom: 6.5px; }
      .position-select .position.top-right.active {
        cursor: default !important; }
        .position-select .position.top-right.active:before, .position-select .position.top-right.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.top-right.active.center {
          background-color: #4834d4 !important; }
    .position-select .position.right {
      top: 50%;
      right: 0;
      margin-top: -17.5px; }
      .position-select .position.right:before {
        content: "";
        position: absolute;
        width: 8px;
        right: 0;
        top: 3.5px;
        bottom: 3.5px; }
      .position-select .position.right.active {
        cursor: default !important; }
        .position-select .position.right.active:before, .position-select .position.right.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.right.active.center {
          background-color: #4834d4 !important; }
    .position-select .position.bottom-right {
      right: 0;
      bottom: 0; }
      .position-select .position.bottom-right:after {
        content: "";
        position: absolute;
        height: 8px;
        bottom: 0;
        left: 6.5px;
        right: 0; }
      .position-select .position.bottom-right.active {
        cursor: default !important; }
        .position-select .position.bottom-right.active:before, .position-select .position.bottom-right.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.bottom-right.active.center {
          background-color: #4834d4 !important; }
      .position-select .position.bottom-right:before {
        content: "";
        position: absolute;
        width: 8px;
        right: 0;
        top: 6.5px;
        bottom: 0; }
      .position-select .position.bottom-right.active {
        cursor: default !important; }
        .position-select .position.bottom-right.active:before, .position-select .position.bottom-right.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.bottom-right.active.center {
          background-color: #4834d4 !important; }
    .position-select .position.bottom {
      left: 50%;
      margin-left: -17.5px;
      bottom: 0; }
      .position-select .position.bottom:after {
        content: "";
        position: absolute;
        height: 8px;
        bottom: 0;
        left: 3.5px;
        right: 3.5px; }
      .position-select .position.bottom.active {
        cursor: default !important; }
        .position-select .position.bottom.active:before, .position-select .position.bottom.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.bottom.active.center {
          background-color: #4834d4 !important; }
    .position-select .position.bottom-left {
      bottom: 0;
      left: 0; }
      .position-select .position.bottom-left:after {
        content: "";
        position: absolute;
        height: 8px;
        bottom: 0;
        left: 0;
        right: 6.5px; }
      .position-select .position.bottom-left.active {
        cursor: default !important; }
        .position-select .position.bottom-left.active:before, .position-select .position.bottom-left.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.bottom-left.active.center {
          background-color: #4834d4 !important; }
      .position-select .position.bottom-left:before {
        content: "";
        position: absolute;
        width: 8px;
        left: 0;
        top: 6.5px;
        bottom: 0; }
      .position-select .position.bottom-left.active {
        cursor: default !important; }
        .position-select .position.bottom-left.active:before, .position-select .position.bottom-left.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.bottom-left.active.center {
          background-color: #4834d4 !important; }
    .position-select .position.left {
      top: 50%;
      left: 0;
      margin-top: -17.5px; }
      .position-select .position.left:before {
        content: "";
        position: absolute;
        width: 8px;
        left: 0;
        top: 3.5px;
        bottom: 3.5px; }
      .position-select .position.left.active {
        cursor: default !important; }
        .position-select .position.left.active:before, .position-select .position.left.active:after {
          background-color: #4834d4 !important; }
        .position-select .position.left.active.center {
          background-color: #4834d4 !important; }

.position-select-wrapper .title {
  margin-bottom: 10px; }

.position-select-wrapper .offset-sliders {
  float: right;
  width: calc(100% - 105px);
  padding-left: 25px; }
  .position-select-wrapper .offset-sliders .title {
    margin-bottom: 0; }

.angle-picker-wrapper {
  margin-bottom: 0; }

.angle-picker {
  width: 85px;
  height: 85px;
  position: relative;
  margin-top: 9px;
  float: left;
  margin-left: -12px;
  top: -12px; }
  .angle-picker:before {
    content: "";
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    border-radius: 50%;
    background-color: #bbbbbb;
    z-index: 1; }
  .angle-picker .angle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    pointer-events: none;
    z-index: 2; }
    .angle-picker .angle:before {
      content: "";
      top: 12px;
      bottom: 50%;
      left: 0;
      right: 0;
      position: absolute;
      background-color: #4834d4; }
    .angle-picker .angle:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      left: 50%;
      margin-left: -6px;
      top: 8px;
      background-color: #fff;
      border: 2px solid #4834d4;
      border-radius: 50%;
      box-sizing: border-box; }

.angle-input {
  float: left;
  margin-left: 4px;
  margin-top: 10px; }

.button-select {
  display: flex;
  width: 100%;
  margin-top: 8px;
  margin-bottom: -6px;
  flex-wrap: wrap; }
  .button-select:first-child {
    margin-top: 0; }
  .button-select .option {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    flex-grow: 1;
    margin-right: 6px;
    font-size: 12px;
    text-align: center;
    padding: 10px 1px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 2px;
    color: #505050;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px; }
    .button-select .option:last-child {
      margin-right: 0; }
    .button-select .option:hover {
      background-color: #f6f6f6; }
    .button-select .option.active {
      color: #fff;
      background-color: #4834d4;
      border: 1px solid #4834d4; }
      .button-select .option.active svg {
        fill: #fff; }
    .button-select .option svg {
      fill: #505150;
      display: block; }
  .button-select.equal-widths .option {
    flex-basis: 0; }

#generator-wrapper.border-radius .corners-wrapper {
  margin-bottom: -27px; }
  #generator-wrapper.border-radius .corners-wrapper .section-title {
    margin-bottom: 25px; }
  #generator-wrapper.border-radius .corners-wrapper .slider-input,
  #generator-wrapper.border-radius .corners-wrapper .units-select {
    top: -10px; }
  #generator-wrapper.border-radius .corners-wrapper .half {
    width: calc(50% - 15px);
    margin-right: 30px; }

#generator-wrapper.border-radius .slider-image {
  width: 22px;
  height: 22px;
  position: relative;
  top: -8px;
  margin-bottom: -3px;
  left: -7px; }
  #generator-wrapper.border-radius .slider-image span {
    position: absolute;
    left: 0;
    right: 0;
    height: 8px; }
    #generator-wrapper.border-radius .slider-image span:first-child {
      top: 0; }
    #generator-wrapper.border-radius .slider-image span:last-child {
      bottom: 0; }
    #generator-wrapper.border-radius .slider-image span:before, #generator-wrapper.border-radius .slider-image span:after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #bbbbbb;
      position: absolute;
      top: 0; }
    #generator-wrapper.border-radius .slider-image span:before {
      left: 0; }
    #generator-wrapper.border-radius .slider-image span:after {
      right: 0; }
  #generator-wrapper.border-radius .slider-image.top-left span:first-child:before,
  #generator-wrapper.border-radius .slider-image.top-right span:first-child:after,
  #generator-wrapper.border-radius .slider-image.bottom-left span:last-child:before,
  #generator-wrapper.border-radius .slider-image.bottom-right span:last-child:after {
    background-color: #4834d4; }

.triangle-direction {
  width: calc(100% + 6px);
  margin-bottom: -4px;
  padding-right: 6px; }
  .triangle-direction .option {
    flex: 0 0 calc(25% - 6px);
    height: 45px;
    padding: 0; }
    .triangle-direction .option:nth-child(4) {
      margin-right: 0; }
    .triangle-direction .option.top-right svg {
      transform: rotate(45deg); }
    .triangle-direction .option.right svg {
      transform: rotate(90deg);
      right: -1px; }
    .triangle-direction .option.bottom-right svg {
      transform: rotate(135deg); }
    .triangle-direction .option.bottom svg {
      transform: rotate(180deg); }
    .triangle-direction .option.bottom-left svg {
      transform: rotate(225deg);
      left: -1px; }
    .triangle-direction .option.left svg {
      transform: rotate(270deg);
      left: -1px; }
    .triangle-direction .option.top-left svg {
      transform: rotate(315deg);
      left: -1px;
      top: -1px; }
  .triangle-direction svg {
    width: 16px;
    height: 14px;
    transform-origin: center center;
    position: relative; }
