@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
@import './_variables.scss';

* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color:#fdfdfd;
  margin:0;
  padding:0;
  font-family: $main-font;
  font-weight:500;
}

#app {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.dragging #app {
  overflow:hidden;
}

#main {
  margin:0 50px 0 315px;
  padding:30px 0;
  position:relative;
}

.page-content {
  color: #4e4e4e;
  font-weight: 300;
  font-size: 20px;
}

.left {
  float:left;
}

.right {
  float:right;
}

p:last-child {
  margin-bottom:0 !important;
}

.clear {
  &:after {
    clear:both;
    content:"";
    display: block;
  }
}

.disable-mouse {
  pointer-events: none !important;
  cursor:none !important;
}

#generator-wrapper {
  margin-right: 320px;
  position:relative;
}

@mixin no-select() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

@mixin allow-select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; 
}


/* ------------------------- */
/* Media Queries */

@media screen and (max-width: 1250px) {
  #main {
    // padding-left:340px;
  }
}


/* ------------------------- */
/* Imports */

@import './_notifications.scss';
@import './_nav-window.scss';
@import './_header.scss';
@import './_single-window-preview.scss';
@import './_static-window-preview.scss';
@import './_sidebar.scss';
@import './_code-output.scss';
@import './_presets.scss';
@import './_file-drop.scss';
@import './_loading-spinner.scss';

// User Input
@import './input/_input.scss';
@import './input/_slider.scss';
@import './input/_color-picker.scss';
@import './input/_gradient-picker.scss';
@import './input/_toggle-switch.scss';
@import './input/_select-box.scss';
@import './input/_position-select.scss';
@import './input/_angle-picker.scss';
@import './input/_button-select.scss';

// Generator Previews
@import './generators/_border-radius.scss';
@import './generators/_triangle.scss';
@import './generators/_text-shadow.scss';
@import './generators/_flexbox.scss';