@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

#main {
  padding: 30px 50px 60px 335px; }

.page-content {
  color: #4e4e4e;
  font-weight: 300;
  font-size: 20px; }

.left {
  float: left; }

.right {
  float: right; }

p:last-child {
  margin-bottom: 0 !important; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #main {
    padding-left: 340px; } }

/* ------------------------- */
/* Imports */
.notification-container {
  box-sizing: border-box;
  position: fixed;
  bottom: 20px;
  left: 18px;
  z-index: 999999;
  width: 284px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto; }

.notification {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px; }

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0; }

.notification:hover,
.notification:focus {
  opacity: 1; }

.notification-enter {
  visibility: hidden;
  opacity: 0; }

.notification-enter.notification-enter-active {
  visibility: visible;
  transition: all 0.4s;
  opacity: 0.9; }

.notification-leave {
  visibility: visible;
  opacity: 0.9; }

.notification-leave.notification-leave-active {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s; }

.notification-info {
  background-color: #2f96b4; }

.notification-success {
  background-color: #55b155; }

.notification-warning {
  background-color: #f89406; }

.notification-error {
  background-color: #bd362f; }

#nav-window {
  position: fixed;
  top: 25px;
  left: 25px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 4000;
  min-height: 510px;
  width: 280px;
  box-shadow: 0px 9px 29px 0px rgba(184, 185, 218, 0.36);
  border: 1px solid rgba(72, 52, 212, 0.23);
  padding: 30px; }

#nav-window a.current {
  color: orange; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #nav-window {
    width: 270px; } }

#header,
#toolbar {
  border-bottom: 1px solid #dedede;
  position: relative;
  z-index: 100; }

#header {
  padding: 45px 350px 18px 335px;
  background-color: rgba(247, 247, 247, 0.8); }
  #header h1 {
    color: #4834d4;
    font-weight: 400;
    font-size: 28px; }
  #header .intro {
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 400;
    color: #6b6b6b;
    font-size: 13px;
    line-height: 1.4em;
    max-width: 550px; }
    #header .intro p {
      margin-bottom: 8px; }

#toolbar {
  height: 69px;
  padding: 0 355px 0 330px;
  background-color: rgba(255, 255, 255, 0.87); }
  #toolbar .toolbar-title {
    float: left;
    color: #505050;
    text-align: right;
    margin-right: 13px;
    font-weight: 600;
    height: 68px;
    background-color: #f9f9f9;
    line-height: 1.2em;
    padding: 14px 19px 0 45px;
    font-size: 16px;
    margin-left: -50px;
    border-right: 1px solid #dedede; }
  #toolbar .item {
    float: left;
    margin-right: 7px;
    height: 68px; }
    #toolbar .item:last-child {
      margin-right: 0; }
    #toolbar .item.input {
      padding-top: 10px; }
    #toolbar .item label {
      display: block;
      margin-bottom: 3px;
      font-weight: 600;
      color: #505050;
      font-size: 12px; }
    #toolbar .item.border {
      border-right: 1px solid #dedede;
      padding-right: 13px;
      margin-right: 13px; }
    #toolbar .item .color-preview {
      width: 77px;
      height: 27px;
      border: 1px solid #d2d2d2;
      border-radius: 0;
      margin: 0; }
  #toolbar .button {
    margin-top: 15px; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #header,
  #toolbar {
    padding-left: 320px; }
  #toolbar {
    padding-right: 314px; } }

#generator-wrapper {
  margin-right: 323px;
  position: relative; }
  #generator-wrapper .page-content {
    padding-top: 15px; }

/* Preview Window */
.generator-preview {
  background-color: #fff;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 5px;
  left: 50%;
  margin-left: -150px; }
  .generator-preview.cb {
    box-sizing: content-box !important; }
  .generator-preview .preview-text {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    text-align: center;
    padding: 10px 15px 9px 15px;
    border-radius: 2px;
    color: #7d7d7d;
    font-weight: 600;
    width: 184px; }
    .generator-preview .preview-text .dimensions {
      display: block;
      margin: 3px 0 6px 0;
      font-size: 15px; }
    .generator-preview .preview-text .instructions {
      font-size: 12px;
      color: #969696;
      line-height: 1.25em;
      font-weight: 500; }

.resize-wrapper {
  position: relative; }
  .resize-wrapper:hover .resize-handle,
  .resize-wrapper .resizing .resize-handle {
    opacity: 1; }

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px dashed #ff6969;
  opacity: 0;
  pointer-events: none; }

.generator-preview span > div:nth-child(5), .generator-preview span > div:nth-child(7) {
  cursor: nesw-resize !important; }

.generator-preview span > div:nth-child(6), .generator-preview span > div:nth-child(8) {
  cursor: nwse-resize !important; }

.drag-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  cursor: move; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #generator-wrapper {
    margin-right: 300px; } }

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 340px;
  background-color: #ececec;
  z-index: 100;
  border-left: 2px solid #dadada; }
  #sidebar .sidebar-title {
    width: calc(100% + 54px);
    margin-left: -27px;
    margin-bottom: 20px;
    text-align: center;
    background: #e5e5e5;
    color: #828282;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 0 9px 0;
    line-height: 1;
    border-bottom: 1px solid #dadada;
    border-top: 2px solid #dadada; }
  #sidebar > .sidebar-title {
    width: 100%;
    margin-left: 0;
    height: 34px;
    margin-bottom: 0; }
  #sidebar .section-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #828282;
    margin-bottom: 9px; }
  #sidebar .sliders-wrapper:first-child {
    padding-top: 4px; }
  #sidebar .sliders-wrapper:after {
    clear: both;
    content: "";
    display: block; }
  #sidebar .divider {
    height: 2px;
    background-color: #d2d2d2;
    margin: 27px 0 25px 0; }
  #sidebar .disabled {
    opacity: .3;
    pointer-events: none; }
  #sidebar .inputs-row {
    display: table;
    width: 100%;
    margin-bottom: 20px; }
    #sidebar .inputs-row .field-wrapper {
      display: table-cell;
      padding: 0 2px; }
      #sidebar .inputs-row .field-wrapper:first-child {
        padding-left: 0; }
      #sidebar .inputs-row .field-wrapper:last-child {
        padding-right: 0; }
      #sidebar .inputs-row .field-wrapper.align-right {
        text-align: right; }
        #sidebar .inputs-row .field-wrapper.align-right .color-wrapper {
          float: right; }

#sidebar-controls {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  bottom: 230px;
  overflow: scroll;
  padding: 20px 27px; }
  #sidebar-controls .sidebar-title:first-child {
    margin-top: -20px;
    border-top: none;
    padding-top: 9px; }

/* Output CSS */
#output-wrapper {
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 230px; }
  #output-wrapper .sidebar-title {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: 15px; }
  #output-wrapper .button {
    float: right; }
  #output-wrapper .field-wrapper {
    margin-top: -4px; }

#output {
  width: 100%;
  font-size: 12px;
  padding: 13px 15px;
  background-color: #fff;
  line-height: 1.4em;
  resize: none;
  margin-bottom: 15px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  height: 100px;
  color: #505050;
  font-weight: 600;
  float: left; }
  #output:focus {
    border: 3px solid #dedede;
    padding: 10px 12px; }

/* Media Queries */
@media screen and (max-width: 1250px) {
  #sidebar {
    width: 300px; } }

#preset-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background-color: rgba(247, 247, 247, 0.8);
  border-top: 1px solid #dedede;
  display: flex; }
  #preset-bar .preset {
    width: 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 6px 18px 0px rgba(184, 185, 218, 0.27);
    border: 1px solid rgba(72, 52, 212, 0.2);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    margin-right: 15px; }
    #preset-bar .preset:hover {
      transform: scale(1.05); }
    #preset-bar .preset .thumbnail {
      width: 35px;
      height: 35px;
      background: #4834d4; }

.row:after {
  clear: both;
  content: "";
  display: block; }

.field-wrapper {
  margin-bottom: 20px; }
  .field-wrapper.left {
    margin-right: 12px; }
    .field-wrapper.left:last-child {
      margin-right: 0; }
  .field-wrapper.right {
    text-align: right; }
    .field-wrapper.right .toggle-wrapper {
      margin-right: -3px; }
  .field-wrapper.half {
    width: calc(50% - 15px);
    margin-right: 30px;
    float: left; }
    .field-wrapper.half .title {
      font-size: 12px; }
  .field-wrapper.no-margin {
    margin-right: 0 !important; }
  .field-wrapper .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #505050;
    display: block; }
  .field-wrapper.small .title {
    font-size: 13px; }

input[type="text"],
input[type="number"],
.chrome-picker input,
.select-wrapper .Select-control {
  height: 27px !important;
  padding: 0 6px;
  font-size: 15px;
  -webkit-appearance: none;
  apperance: none;
  border: 1px solid #d2d2d2 !important;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  line-height: normal;
  box-shadow: none !important;
  border-radius: 0 !important; }
  input[type="text"]:focus,
  input[type="number"]:focus,
  .chrome-picker input:focus,
  .select-wrapper .Select-control:focus {
    border: 1px solid #4834d4 !important; }

.number-input {
  font-weight: 600;
  font-size: 16px;
  width: 65px; }

.slider-input {
  float: right;
  position: relative;
  top: -8px;
  width: 50px; }

.has-units .slider-input,
.has-units .units-select {
  float: right;
  top: -10px; }

.has-units .slider-input {
  width: 42px; }

.has-units .select-wrapper.units-select {
  left: -1px;
  position: relative;
  width: 31px;
  cursor: pointer; }
  .has-units .select-wrapper.units-select .Select-control {
    background-color: #f6f6f6; }
    .has-units .select-wrapper.units-select .Select-control:hover {
      background-color: #efefef; }
    .has-units .select-wrapper.units-select .Select-control .Select-value {
      padding: 0 0 1px 0 !important;
      text-align: center; }
      .has-units .select-wrapper.units-select .Select-control .Select-value .Select-value-label {
        color: #7a7a7a !important;
        font-size: 13px; }
  .has-units .select-wrapper.units-select .Select.is-focused .Select-control {
    z-index: 200; }

.button {
  -webkit-appearance: none;
  apperance: none;
  font-family: "Montserrat", sans-serif;
  background-color: #4834d4;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 15px 11px 15px;
  letter-spacing: .08em;
  line-height: 1em;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block; }
  .button:hover {
    background-color: #5b49d8; }

/* Color Picker */
.color-wrapper {
  position: relative; }
  .color-wrapper.small .color-preview {
    width: 40px;
    height: 40px; }

.color-picker-wrapper {
  position: fixed;
  z-index: 9999; }

.color-preview {
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 3px;
  cursor: pointer; }

.chrome-picker {
  position: fixed;
  z-index: 9999;
  width: 226px !important;
  margin-top: 5px;
  transform: translateX(-50%); }
  .chrome-picker input {
    outline: none; }

/* Toggle Switch */
.toggle-wrapper {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-top: 3px; }
  .toggle-wrapper input {
    display: none; }
    .toggle-wrapper input:checked + .toggle {
      background-color: #4834d4; }
      .toggle-wrapper input:checked + .toggle:before {
        transform: translateX(22px); }
    .toggle-wrapper input:focus + .toggle {
      box-shadow: 0 0 1px #4834d4; }
  .toggle-wrapper .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    transition: .15s;
    border-radius: 34px; }
    .toggle-wrapper .toggle:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .15s;
      border-radius: 50%; }

/* Select Box */
.select-wrapper {
  margin-bottom: 22px; }
  .select-wrapper .title {
    margin-bottom: 5px; }
  .select-wrapper .Select-menu-outer {
    display: none; }
  .select-wrapper .Select .Select-control,
  .select-wrapper .Select .Select-input {
    height: 35px !important;
    font-weight: 600; }
  .select-wrapper .Select .Select-input {
    display: block;
    background-color: transparent !important;
    border: none !important; }
  .select-wrapper .Select .Select-control {
    padding: 0 !important;
    box-shadow: none !important;
    position: relative; }
    .select-wrapper .Select .Select-control input {
      padding: 0;
      width: 100% !important;
      height: 35px;
      line-height: normal;
      color: #505050;
      font-weight: 600;
      font-wize: 15px; }
    .select-wrapper .Select .Select-control .Select-value,
    .select-wrapper .Select .Select-control .Select-input {
      padding: 0 5px 1px 9px !important; }
    .select-wrapper .Select .Select-control .Select-value-label {
      font-size: 15px;
      color: #505050 !important;
      line-height: 35px !important;
      display: block; }
    .select-wrapper .Select .Select-control .Select-arrow {
      border-width: 6px 4px 2px;
      left: -2px; }
  .select-wrapper .Select.is-focused .Select-control {
    border: 1px solid #4834d4 !important; }
  .select-wrapper.small .Select .Select-control {
    height: 27px !important; }
  .select-wrapper.small .Select .Select-input {
    height: calc(27px - 2px) !important; }
  .select-wrapper.small .Select .Select-control input {
    height: 27px; }
  .select-wrapper.small .Select .Select-control .Select-value,
  .select-wrapper.small .Select .Select-control .Select-value-label {
    line-height: calc(27px - 2px) !important; }
    .select-wrapper.small .Select .Select-control .Select-value.shift .Select-value-label,
    .select-wrapper.small .Select .Select-control .Select-value-label.shift .Select-value-label {
      line-height: calc(27px - 4px) !important; }

.menu-wrapper {
  background-color: #fff;
  overflow: scroll;
  border: 1px solid #C9C9CC;
  margin-top: 2px;
  box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  font-size: 13px;
  font-weight: 600; }
  .menu-wrapper.has-container {
    position: absolute;
    z-index: 9999; }
  .menu-wrapper .Select-option {
    padding: 7px 12px 8px 12px;
    color: #5a5a5a !important; }
    .menu-wrapper .Select-option.is-focused {
      background-color: #f9f9f9; }
    .menu-wrapper .Select-option.is-selected {
      background-color: rgba(72, 52, 212, 0.1); }
  .menu-wrapper.small .Select-option {
    padding: 7px 0 8px 0;
    text-align: center; }

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 20px;
  margin-top: 10px; }

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #bbbbbb;
  height: 4px;
  border-radius: 6px; }

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #4834d4; }

.rc-slider-handle {
  position: absolute;
  margin-left: -11px;
  margin-top: -9px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 3px #4834d4;
  background-color: #fff;
  outline: none;
  transition: transform .2s ease;
  -ms-touch-action: pan-x;
  touch-action: pan-x; }
  .rc-slider-handle.dragging, .rc-slider-handle:hover {
    transform: scale(1.2); }
  .rc-slider-handle:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px; }

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999; }

.rc-slider-mark-text-active {
  color: #666; }

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent; }

.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle; }

.rc-slider-dot-active {
  border-color: #96dbfa; }

.rc-slider-disabled {
  background-color: #e9e9e9; }
  .rc-slider-disabled .rc-slider-track {
    background-color: #ccc; }
  .rc-slider-disabled .rc-slider-handle,
  .rc-slider-disabled .rc-slider-dot {
    border-color: #ccc;
    box-shadow: none;
    background-color: #fff;
    cursor: not-allowed; }
  .rc-slider-disabled .rc-slider-mark-text,
  .rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed !important; }

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px; }
  .rc-slider-vertical .rc-slider-rail {
    height: 100%;
    width: 4px; }
  .rc-slider-vertical .rc-slider-track {
    left: 5px;
    bottom: 0;
    width: 4px; }
  .rc-slider-vertical .rc-slider-handle {
    margin-left: -5px;
    margin-bottom: -7px;
    -ms-touch-action: pan-y;
    touch-action: pan-y; }
  .rc-slider-vertical .rc-slider-mark {
    top: 0;
    left: 18px;
    height: 100%; }
  .rc-slider-vertical .rc-slider-step {
    height: 100%;
    width: 4px; }
  .rc-slider-vertical .rc-slider-dot {
    left: 2px;
    margin-bottom: -4px; }
    .rc-slider-vertical .rc-slider-dot:first-child, .rc-slider-vertical .rc-slider-dot:last-child {
      margin-bottom: -4px; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
  animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
  animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }

@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip-hidden {
  display: none; }

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0; }

.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9; }

.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c; }

#generator-wrapper.border-radius .corners-wrapper {
  margin-bottom: -40px; }
  #generator-wrapper.border-radius .corners-wrapper .section-title {
    margin-bottom: 25px; }

#generator-wrapper.border-radius .slider-image {
  width: 22px;
  height: 22px;
  position: relative;
  top: -8px;
  margin-bottom: -3px;
  left: -7px; }
  #generator-wrapper.border-radius .slider-image span {
    position: absolute;
    left: 0;
    right: 0;
    height: 8px; }
    #generator-wrapper.border-radius .slider-image span:first-child {
      top: 0; }
    #generator-wrapper.border-radius .slider-image span:last-child {
      bottom: 0; }
    #generator-wrapper.border-radius .slider-image span:before, #generator-wrapper.border-radius .slider-image span:after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #bbbbbb;
      position: absolute;
      top: 0; }
    #generator-wrapper.border-radius .slider-image span:before {
      left: 0; }
    #generator-wrapper.border-radius .slider-image span:after {
      right: 0; }
  #generator-wrapper.border-radius .slider-image.top-left span:first-child:before,
  #generator-wrapper.border-radius .slider-image.top-right span:first-child:after,
  #generator-wrapper.border-radius .slider-image.bottom-left span:last-child:before,
  #generator-wrapper.border-radius .slider-image.bottom-right span:last-child:after {
    background-color: #4834d4; }
