.inputs-row .csh {
  width: auto !important;
  height: auto !important;
  position: absolute !important;
  left: 0;
  right: 1px;
  top: 0;
  bottom: -20px;
  cursor: copy !important;
}

.inputs-row .dragging.csh {
  cursor: pointer !important;
}

.cs {
  background-position: right center;
  bottom:3px;
  height: 17px;
  position: absolute;
  width: 11px;
  cursor: pointer;
  background-image: url(./ColorStop.png);
  background-size:22px 17px;
}

.cs div {
  height: 8px;
  left: 2px;
  width: 7px;
  position: absolute;
  top: 7px;
}


.active {
  background-position: left center;
  z-index: 200;
}