.angle-picker {
  background-color:$accent-color;
  width:60px;
  height:60px;
  border-radius:50%;
  position:relative;
  overflow:hidden;
  margin-top:6px;

  .angle {
    transform-origin:bottom center;
    top:0;
    bottom:30px;
    left:50%;
    width:2px;
    margin-left:-1px;

    // left:50%;
    // width:50%;
    // height:2px;
    // top:50%;
    // margin-top:-1px;
    // transform-origin:left center;

    // left:0;
    // width:50%;
    // height:2px;
    // top:50%;
    // margin-top:-1px;
    // transform-origin:right center;

    position:absolute;
    background-color:#fff;
    pointer-events:none;
  }
}