.button-select {
	display: flex;
	width:100%;
	margin-top:8px;
	margin-bottom:-6px;
	flex-wrap: wrap;

	&:first-child {
		margin-top:0;
	}

	.option {
		background-color:#fff;
		border:1px solid #d2d2d2;
		flex-grow: 1;
		margin-right:6px;
		font-size:12px;
		text-align:center;
		padding:10px 1px;
		cursor:pointer;
		font-weight:700;
		border-radius:2px;
		color:$dark-grey;
		line-height:1;
		display:flex;
		justify-content: center;
		align-items: center;
		margin-bottom:6px;

		&:last-child {
			margin-right:0;
		}

		&:hover {
			background-color:#f6f6f6;
		}

		&.active {
			color:#fff;
			background-color:$accent-color;
			border:1px solid $accent-color;

			svg {
				fill:#fff;
			}
		}

		svg {
			fill:#505150;
			display: block;
		}
	}

	&.equal-widths .option {
		flex-basis: 0;
	}

	&.half .option {
		width:calc(50% - 3px);
		flex-grow:0;

		&:nth-child(even) {
			margin-right:0;
		}
	}
}