.color-wrapper {
  position:relative;
  margin-bottom:0;

  &.no-title {
    margin-top:-10px;
  }

  &.small-preview .color-preview {
    width:40px;
    height:40px;
  }

  &.inline {
    display:flex;
    align-items:center;

    .color-preview {
      top:2px;
      margin-bottom:0;
      margin-left:8px;
    }
  }
}

@mixin transparent-bg {
  background-image:url('../images/checker-bg.svg');
  overflow:hidden;
  background-size: 12px 12px;
  background-repeat:repeat;
  background-color:#fff !important;
}

.color-picker {
  position:fixed;
  z-index: 99999;
  width: 226px !important;
  height:245px !important;

  &.has-transparency .chrome-picker > div > .flexbox-fix:first-child {
    padding-right:40px;
  }

  .transparent-button {
    position: absolute;
    width: 29px;
    height: 29px;
    right: 16px;
    top: 139px;
    border: 1px solid #d2d2d2;
    z-index: 300;
    border-radius:2px;
    overflow: hidden;
    cursor: pointer;

    @include transparent-bg;

    &:after {
      content:"";
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:rgba(0,0,0,.05);
      opacity:0;
    }

    &:hover {
      &:before {
        opacity:.8;
      }

      &:after {
        opacity:1;
      }
    }
  }
}

.transparent-active {
  .transparent-button {
    border:1px solid $accent-color !important;
    box-shadow: 0px 0px 0px 3px rgba(72, 52, 212, 0.4) !important;
  }

  .color-preview {
    position:relative;
    
    @include transparent-bg;
  }
}

.color-preview {
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 3px;
  cursor: pointer;
  display:inline-block;
}

.chrome-picker {
  position:relative;
  z-index: 200;

  input {
    outline:none;
    border-radius:2px !important;
  }
}