.palette,
.csh {
  width:100% !important;
}

.inputs-row {
  .palette {
    margin-top:1px;
    margin-bottom:10px;
  }

  &:first-child > .palette {
    margin-top:8px;
  }

  .csh {
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    left: 0;
    right: 1px;
    top: 0;
    bottom: -10px;
    cursor: copy !important;

    &.dragging {
      cursor: pointer !important;
    }
  }
}

.cs {
  background-position: right center;
  bottom:3px;
  height: 17px;
  position: absolute;
  width: 11px;
  cursor: pointer;
  background-image: url('../images/color-stop.png');
  background-size:22px 17px;

  &.active {
    background-position: left center;
    z-index: 200;
  }

  div {
    height: 8px;
    left: 2px;
    width: 7px;
    position: absolute;
    top: 7px;
  }
}