@import '../_variables.scss';

.row:after {
  clear:both;
  content:"";
  display:block;
}

.field-wrapper {
  margin-bottom:20px;

  &.left {
    margin-right:12px;

    &:last-child {
      margin-right:0;
    }
  }

  &.right {
    text-align:right;

    .toggle-wrapper {
      margin-right:-3px;
    }
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    color: $dark-grey;
    display: block;
  }
}

input[type="text"],
input[type="number"],
.chrome-picker input {
  height: 27px !important;
  padding: 0 6px;
  font-size: 15px;
  -webkit-appearance: none;
  apperance: none;
  border: 1px solid #d2d2d2 !important;
  outline: none;
  font-family: $main-font;
  color: #505050;
  line-height: normal;
  box-shadow:none !important;
  border-radius: 0 !important;

  &:focus {
    border:1px solid $accent-color !important;
  }
}

.number-input {
  font-weight: 600;
  font-size:16px;
  width: 65px;
}

.slider-input {
  float: right;
  position: relative;
  top: -8px;
  width:50px;
}

.button {
  -webkit-appearance: none;
  apperance: none;
  font-family: $main-font;
  background-color:$accent-color;
  font-weight:600;
  font-size:15px;
  padding:11px 15px 12px 15px;
  line-height:1em;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  display:inline-block;

  &:hover {
    background-color: $accent-color-hover;
  }
}

/* Color Picker */

.color-picker-wrapper {
  position:relative;
}

.color-preview {
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 3px;
  cursor: pointer;
}

.chrome-picker {
  position:fixed;
  z-index: 9999;
  width: 226px !important;
  margin-top:5px;
  transform:translateX(-50%);

  input {
    outline:none;
  }
}


/* Toggle Switch */

.toggle-wrapper {
  position:relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-top:3px;

  input {
    display: none;

    &:checked + .toggle {
      background-color: $accent-color;

      &:before {
        transform: translateX(22px);
      }
    }

    &:focus + .toggle {
      box-shadow: 0 0 1px $accent-color;
    }
  }

  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    transition: .15s;
    border-radius:34px;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .15s;
      border-radius:50%;
    }
  }
}








