@import '../_variables.scss';

.no-select {
  webkit-touch-callout: none;
  user-select: none;
}

.row:after {
  clear:both;
  content:"";
  display:block;
}

.field-wrapper {
  margin-bottom:21px;

  &:after {
    clear:both;
    content:"";
    display:block;
  }

  &.left {
    margin-right:12px;

    &:last-child {
      margin-right:0;
    }
  }

  &.right {
    text-align:right;

    .toggle-wrapper {
      margin-right:-3px;
    }
  }

  &.half,
  &.small {
    .title {
      font-size:12px;
    }
  }

  &.half {
    width:calc(50% - 8px);
    margin-right:16px;
    float:left;

    &:nth-child(even) {
      margin-right:0 !important;
    }
  }

  &.w10 {
    width:10%;
  }

  &.w20 {
    width:20%;
  }

  &.w30 {
    width:30%;
  }

  &.w40 {
    width:40%;
  }

  &.w50 {
    width:50%;
  }

  &.w60 {
    width:60%;
  }

  &.w70 {
    width:70%;
  }

  &.w80 {
    width:80%;
  }

  &.w90 {
    width:90%;
  }

  &.w100 {
    width:100%;
  }

  &.align-right {
    float:right;
    text-align: right;

    .color-preview {
      float:right;
    }
  }

  &.no-margin {
    margin-right:0 !important;
  }

  &.wide-input input {
    width:70px;
  }

  .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: $dark-grey;
    display: block;
  }

  &.small {
    .title {
      font-size:13px;
    }
  }
}

.table-wrapper {
  display:table;
  width:100%;

  .active-toggle,
  .input,
  .title {
    display:table-cell;
    vertical-align: top;
  }

  .active-toggle {
    width: 67px;
    padding-top: 6px;

    .toggle-wrapper {
      margin-left:-7px;
    }
  }
}

@mixin text-input-styles {
  -webkit-appearance: none;
  apperance: none;
  border: 1px solid #d2d2d2 !important;
  outline: none;
  font-family: $main-font;
  color: $input-text-color;
  width:100%;
  box-shadow:none !important;
  border-radius: 2px !important;

  &:focus {
    border:1px solid $accent-color !important;
    box-shadow: 0px 0px 0px 3px rgba(72, 52, 212, 0.4) !important;
  }
}

input[type="text"],
input[type="number"],
.chrome-picker input,
.select-wrapper .Select-control {
  height: $small-input-height !important;
  padding: 0 6px;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;

  @include text-input-styles;
}

input.number-input {
  font-weight: 600;
  width: 65px;
}

input.slider-input {
  float: right;
  position: relative;
  margin-top: -27px;
  width: 59px;

  &.has-string {
    padding-right: 0 !important;
  }
}

.has-units {
  .slider-input,
  .units-select {
    float:right;
    margin-top:-20px;
  }

  .slider-input {
    width:42px;
  }

  .select-wrapper.units-select {
    left:-1px;
    position:relative;
    width:32px;
    cursor: pointer;

    .Select-control {
      background-color: #f6f6f6;

      &:hover {
        background-color:#efefef;
      }

      .Select-value {
        padding:0 0 1px 0 !important;
        text-align: center;

        .Select-value-label {
          color: #7a7a7a !important;
          font-size:13px;
        }
      }
    }

    .Select.is-focused .Select-control {
      z-index: 200;
    }
  }
}

textarea {
  min-height:100px;
  font-size:14px;
  padding: 7px 10px;
  font-weight:500;
  resize: vertical;
  white-space: pre-line;
  display:block;
  width:100%;
  overflow:auto;

  @include text-input-styles;
}

.button {
  -webkit-appearance: none;
  apperance: none;
  font-family: $main-font;
  background-color:$accent-color;
  font-weight:600;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 15px 11px 15px;
  letter-spacing: .08em;
  line-height:1em;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  display:inline-block;

  &:hover {
    background-color: $accent-color-hover;
  }
}







