.select-wrapper {
  margin-bottom:22px;

  .title {
    margin-bottom:5px;
  }

  .Select-menu-outer {
    display:none;
  }

  .Select {
    .Select-control,
    .Select-input {
      height:$input-height !important;
      font-weight:600;
    }

    .Select-input {
      display: block;
      background-color:transparent !important;
      border:none !important;
    }

    .Select-control {
      padding:0 !important;
      box-shadow:none !important;
      position:relative;

      input {
        padding: 0;
        width:100% !important;
        height:$input-height;
        line-height: normal;
        color:$input-text-color;
        font-weight:600;
        font-wize:15px;
      }

      .Select-value,
      .Select-input {
        padding:0 5px 1px 9px !important;
      }

      .Select-value-label {
        font-size: 15px;
        color:$input-text-color !important;
        line-height: $input-height !important;
        display: block;
      }

      .Select-arrow {
        border-width: 6px 4px 2px;
        left: -2px;
      }
    }

    &.is-focused {
      .Select-control {
        border:1px solid $accent-color !important;
      }
    }
  }

  &.small {
    .Select {
      .Select-control {
        height:$small-input-height !important;
      }

      .Select-input {
        height:calc(#{$small-input-height} - 2px) !important;
      }

      .Select-control {
        input {
          height:$small-input-height;
        }

        .Select-value,
        .Select-value-label {
          line-height:calc(#{$small-input-height} - 2px) !important;

          &.shift .Select-value-label {
            line-height:calc(#{$small-input-height} - 4px) !important;
          }
        }
      }
    }
  }

}

.menu-wrapper {
  background-color:#fff;
  overflow:scroll;
  border: 1px solid #C9C9CC;
  margin-top:2px;
  box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.1);
  z-index: 9998;
  font-size: 13px;
  font-weight: 600;

  &.has-container {
    position:absolute;
  }

  .Select-option {
    padding: 7px 12px 8px 12px;
    color:#5a5a5a !important;

    &.is-focused {
      background-color: #f9f9f9;
    }

    &.is-selected {
      background-color:rgba($accent-color, .1);
    }
  }

  &.small .Select-option {
    padding: 7px 0 8px 0;
    text-align: center;
  }
}