.toggle-wrapper {
  &.inline {
    display:flex;
    align-items:center;

    .title {
      margin-left:8px;
      margin-top:-1px;
      order:2;
    }

    .switch-wrapper {
      margin-top:0;
    }
  }

  &.disabled {
    pointer-events:none;

    .title {
      opacity:.5;
    }

    .switch-wrapper {
      opacity:.35;
    }
  }
}

.switch-wrapper {
  position:relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  margin-top:3px;

  input {
    display: none;

    &:checked + .switch {
      background-color: $accent-color;

      &:before {
        transform: translateX(18px);
      }

      &:hover {
        background-color:darken($accent-color, 8%);
      }
    }

    &:focus + .switch {
      box-shadow: 0 0 1px $accent-color;
    }
  }

  .switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #adadad;
    border-radius:34px;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      transition: .15s;
      border-radius:50%;
    }

    &:hover {
      background-color: #929292;
    }
  }

  .toggle-content {
    float:left;
  }
}