#flexbox-preview {
  .container {
    display:flex;
    width:100%;
  }

  .item {
    background-color:red;
    border:3px solid blue;
    height:200px;
    flex-grow:0;
    cursor:pointer;

    &:hover {
      opacity:.8;
    }

    &.selected {
      background-color:green;
    }
  }
}