/* ------------------------- */
/* Controls */

.flexbox-generator {
  #canvas {
    padding:0;
    overflow: visible;
  }

  .item-settings {
    .add-item {
      margin-bottom:12px;
      padding-top:10px;
    }

    .remove-item {
      margin-top:10px;
    }
  }
}


/* ------------------------- */
/* Preview */

#flexbox-preview {
  min-height:100%;
  width:100%;
  padding:15px 3px 15px 15px;
  overflow:auto;

  .container {
    display:flex;
    border-left:2px dashed $accent-color;
    position:relative;
    max-width:calc(100% - 10px);

    &.has-background {
      border-color:transparent;
    }
    
    &:before,
    &:after {
      content:"";
      position:absolute;
      top:0;
      height:2px;
      pointer-events:none;
      border-top:2px dashed $accent-color;
      z-index: 200;
    }

    &:before {
      left:0;
      width:14px;
    }

    &:after {
      left:100px;
      right:0;
    }

    .title {
      position:absolute;
      width:90px;
      left: 12px;
      line-height: 1;
      text-align:center;
      border-bottom: none;
      color: #4834d4;
      top: -5px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      z-index: 110;
    }
  }

  .items-wrapper {
    flex-grow:1;
    padding:12px 12px 12px 10px;
    
    &:before {
      content:"";
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      pointer-events:none;
      border-right:2px dashed $accent-color;
      border-bottom:2px dashed $accent-color;
      z-index: 200;
    }
  }

  .item {
    cursor:pointer;
    flex-basis:90px;
    min-width:90px;
    min-height:90px;
    position:relative;
    margin:2px;
    border-radius:3px;
    z-index: 200;
    background-color:$accent-color;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#fff;
    @include no-select;

    &:hover {
      background-color:darken($accent-color, 15%);
    }

    .item-content {
      font-size:30px;
      font-weight: 700;
      text-align:center;
      line-height:1;
      margin-top:2px;

      span {
        display:block;
        font-weight:700;
        font-size:12px;
        margin-bottom: 3px;
        color: #b8adfb
      }
    }

    &.selected {
      background-color:darken($accent-color, 30%);

      .item-content {
        span {
          color:#aca2c9;
        }
      }
    }

    &.new-item {
      line-height:1;
      font-size:12px;
      color:#6f6f6f;
      font-weight:700;
      background:none;
      background-color:#e7e7e7 !important;
      box-shadow:none !important;

      &:hover {
        opacity:1;
        background-color:#dbdbdb !important;
      }

      &.disabled {
        pointer-events:none;
        color:#b9b9b9;

        .plus {
          &:before,
          &:after {
            background-color:#b9b9b9;
          }
        }
      }

      .plus {
        width:15px;
        height:15px;
        display:block;
        position:relative;
        margin:-3px auto 8px auto;

        &:before,
        &:after {
          content:"";
          position:absolute;
          background-color:#6f6f6f;
          border-radius:2px;
        }

        &:before {
          width:2px;
          left:50%;
          margin-left:-1px;
          top:0;
          bottom:0;
        }

        &:after {
          height:2px;
          top:50%;
          margin-top:-1px;
          left:0;
          right:0;
        }
      }
    }

    & > div {
      position:relative;
      z-index: 10;
    }
  }
}