/* ------------------------- */
/* Controls */

.flexbox-generator {
  .item-settings {
    .add-item {
      margin-bottom:12px;
      padding-top:10px;
    }

    .remove-item {
      margin-top:10px;
    }
  }
}


/* ------------------------- */
/* Preview */

#flexbox-preview {
  min-height:100%;
  width:100%;

  .container {
    display:flex;
    border:2px dashed $accent-color;
    padding:12px;
    position:relative;

    &.has-background {
      border-color:transparent;
    }

    .title {
      position: absolute;
      content: "Flex Container";
      line-height: 18px;
      padding: 0 5px;
      border-bottom: none;
      color: #4834d4;
      top: -12px;
      left: 14px;
      z-index: 100;
      font-size: 11px;
      font-weight: 800;
      text-transform: uppercase;
      border:2px dashed transparent;
      white-space: nowrap;
    }
  }

  .item {
    cursor:pointer;
    flex-basis:120px;
    min-width:120px;
    min-height:120px;
    position:relative;
    @include no-select;

    &:hover {
      opacity:.8;
    }

    &:after {
      content:"";
      position:absolute;
      top:2px;
      right:2px;
      bottom:2px;
      left:2px;
      background-color:$accent-color;
      border-radius:2px;
    }

    &.selected {
      &:after {
        background-color:green;
      }
    }

    &.new-item {
      display:flex;
      justify-content: center;
      align-items: center;
      line-height:1;
      font-size:13px;
      color:#6f6f6f;
      font-weight:600;

      &:after {
        background-color:#e7e7e7;
      }

      &:hover {
        opacity:1;

        &:after {
          background-color:#e2e2e2;
        }
      }

      &.disabled {
        pointer-events:none;
        color:#b9b9b9;

        .plus {
          &:before,
          &:after {
            background-color:#b9b9b9;
          }
        }
      }

      .plus {
        width:15px;
        height:15px;
        display:block;
        position:relative;
        margin:-3px auto 8px auto;

        &:before,
        &:after {
          content:"";
          position:absolute;
          background-color:#6f6f6f;
          border-radius:2px;
        }

        &:before {
          width:2px;
          left:50%;
          margin-left:-1px;
          top:0;
          bottom:0;
        }

        &:after {
          height:2px;
          top:50%;
          margin-top:-1px;
          left:0;
          right:0;
        }
      }
    }

    & > div {
      position:relative;
      z-index: 10;
    }
  }
}